@charset "UTF-8";
@import url(reset.css);
/* UI elements */
/* datapicker */
.ui-datepicker {
  font-size: 12px;
  z-index: 999;
  /*margin-left: -195px;*/
  margin-top: 10px; }

.ui-datepicker .ui-state-default {
  text-align: center; }

.ui-widget-content {
  border: 0 !important;
  padding: 0 !important;
  background-color: #fff !important;
  border: 1px solid #d1d1d1 !important;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  text-transform: uppercase;
  width: 240px; }

.ui-datepicker .ui-datepicker-header {
  background: #f2f2f2;
  -webkit-border-radius: 0;
          border-radius: 0;
  border: none;
  border-bottom: 1px solid #fff;
  padding: 5px 0; }

.ui-datepicker .ui-datepicker-title select {
  color: #000;
  font-family: "OpenSans";
  font-size: 12px;
  font-weight: normal;
  background: transparent;
  border: none;
  text-transform: uppercase;
  color: #6D2E2B !important; }

.ui-datepicker select.ui-datepicker-month {
  margin-right: 10px; }

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  color: #6D2E2B !important;
  border: 1px solid transparent !important;
  background-color: transparent !important;
  -webkit-border-radius: 2px;
          border-radius: 2px; }

.ui-datepicker .ui-datepicker-title select,
.ui-datepicker .ui-datepicker-title select option {
  overflow: hidden !important;
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
  padding: 0 !important;
  margin: 0 !important;
  border: none;
  cursor: pointer; }

.ui-datepicker select.ui-datepicker-month {
  width: 90px !important;
  max-width: 90px !important;
  margin-right: 10px !important; }

.ui-datepicker select.ui-datepicker-year {
  width: 60px !important;
  max-width: 60px !important; }

.ui-state-default.ui-state-hover {
  color: #e30611 !important;
  /*box-shadow: inset 0 0 5px 1px rgba(0, 0, 0, 0.1);*/
  background-color: #fff !important;
  border-color: #d1d1d1 !important;
  border: 1px solid #9d0900 !important; }

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
  color: #fff !important;
  background-color: #9d0900 !important; }

.ui-datepicker-prev {
  height: 10px !important;
  padding: 0;
  margin: 0;
  top: 50% !important;
  margin-top: -7px; }
  .ui-datepicker-prev .ui-icon {
    border: 5px solid transparent;
    width: 0;
    height: 0;
    border-right-color: #6D2E2B;
    margin-top: -5px !important; }
  .ui-datepicker-prev.ui-state-hover {
    left: 2px !important; }

.ui-datepicker-next {
  height: 10px !important;
  padding: 0;
  margin: 0;
  top: 50% !important;
  margin-top: -7px; }
  .ui-datepicker-next .ui-icon {
    border: 5px solid transparent;
    width: 0;
    height: 0;
    border-left-color: #6D2E2B;
    margin-top: -5px !important; }
  .ui-datepicker-next.ui-state-hover {
    right: 2px !important; }

.ui-datepicker .ui-state-hover {
  background: none;
  border: none;
  font-weight: normal; }

.ui-datepicker-calendar thead {
  cursor: default; }

.ui-datepicker-trigger {
  display: none; }

.js-date-e .ui-datepicker {
  display: none !important; }

.js-date-e.active .ui-datepicker {
  display: block !important; }

/*end - datapicer*/
/* END - UI elements */
/* form styler  */
/*select-dropdown */
.js-select {
  white-space: nowrap;
  width: 140px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'OpenSans-Bold' !important;
  text-transform: uppercase;
  cursor: pointer;
  line-height: 20px; }
  .js-select.opened .jq-selectbox__select {
    text-align: center;
    border: 1px solid #d1d1d1;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    -webkit-border-bottom-right-radius: 0px;
            border-bottom-right-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
            border-bottom-left-radius: 0px;
    border-bottom: none; }
    .js-select.opened .jq-selectbox__select-text {
      color: #9d0900; }
    .js-select.opened .jq-selectbox__select:after {
      border-top: 5px solid transparent;
      border-bottom: 5px solid #9d0900;
      margin-top: -9px; }
  .js-select .jq-selectbox__select {
    text-align: center;
    border: 1px solid transparent;
    padding: 5px 20px 5px 10px;
    text-align: center;
    height: 32px; }
    .js-select .jq-selectbox__select:after {
      content: "";
      display: block;
      border: 5px solid transparent;
      border-top: 5px solid #9d0900;
      width: 0px;
      position: absolute;
      right: 10px;
      top: 50%;
      margin-top: -3px; }
    .js-select .jq-selectbox__select-text {
      color: #9d0900;
      margin: 0 auto; }
  .js-select .jq-selectbox__dropdown {
    width: 140px !important;
    white-space: nowrap;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 5px 20px 5px 10px;
    background-color: #fff;
    border: 1px solid #d1d1d1;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    -webkit-border-top-left-radius: 0px;
            border-top-left-radius: 0px;
    -webkit-border-top-right-radius: 0px;
            border-top-right-radius: 0px;
    left: 0;
    text-align: center;
    margin-top: -1px; }
    .js-select .jq-selectbox__dropdown ul {
      overflow: visible !important;
      display: inline-block;
      text-align: left; }
    .js-select .jq-selectbox__dropdown li {
      color: #777778;
      height: 32px; }
      .js-select .jq-selectbox__dropdown li:hover {
        color: #9d0900; }

.jq-checkbox {
  width: 8px;
  height: 8px;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  background: transparent;
  border: 1px solid #d1d1d1; }
  .jq-checkbox.checked {
    background-color: #9d0900;
    border-color: #9d0900; }

/* END -  form styler  */
/* bx - slider*/
.bx-controls {
  display: none; }

.thumb {
  width: 400px; }

@font-face {
  font-family: "OpenSans-Bold";
  src: url("../fonts/OpenSans-Bold.woff") format("woff");
  src: url("../fonts/OpenSans-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700; }

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans.woff") format("woff");
  src: url("../fonts/OpenSans.ttf") format("truetype");
  font-style: normal;
  font-weight: 400; }

@font-face {
  font-family: "OpenSans-Italic";
  src: url("../fonts/OpenSans-Italic.woff") format("woff");
  src: url("../fonts/OpenSans-Italic.ttf") format("truetype");
  font-style: italic;
  font-weight: 400; }

@font-face {
  font-family: "OpenSans-Italic-bold";
  src: url("../fonts/OpenSans-Italic.woff") format("woff");
  src: url("../fonts/OpenSans.ttf") format("truetype");
  font-style: italic;
  font-weight: 700; }

@font-face {
  font-family: "Georgia";
  src: url("../fonts/Georgia.woff") format("woff");
  src: url("../fonts/Georgia.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Georgia-bold";
  src: url("../fonts/Georgia-Bold.woff") format("woff");
  src: url("../fonts/Georgia-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700; }

@font-face {
  font-family: "Georgia-bold-italic";
  src: url("../fonts/Georgia-Bold.woff") format("woff");
  src: url("../fonts/Georgia-bold-italic.ttf") format("truetype");
  font-style: italic;
  font-weight: 700; }

@font-face {
  font-family: "Georgia-italic";
  src: url("../fonts/Georgia-Bold.woff") format("woff");
  src: url("../fonts/Georgia-italic.ttf") format("truetype");
  font-style: italic;
  font-weight: 400; }

@font-face {
  font-family: "open-sans-semibold";
  src: url("../fonts/open-sans-semibold.woff") format("woff");
  src: url("../fonts/open-sans-semibold.ttf") format("truetype");
  font-style: normal;
  font-weight: 400; }

/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/* style  - message attach */
.box-fields__message-reg {
  white-space: normal !important;
  overflow-y: auto; }
  .box-fields__message-reg-i {
    padding: 20px 0;
    white-space: normal; }

.box-fields__message-attach {
  display: inline-block;
  border-top: 1px solid #d1d1d1; }
  .box-fields__message-attach-title {
    margin: 10px 0 !important; }

/* attach contact */
.b-attach-contact {
  font-size: 0; }
  .b-attach-contact__f {
    display: table-cell;
    vertical-align: middle; }
    .b-attach-contact__f_ava {
      vertical-align: top; }
      .b-attach-contact__f_ava-img {
        width: 60px;
        height: 60px;
        max-width: 60px;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        -webkit-border-radius: 30px;
                border-radius: 30px;
        border: solid 1px #e1e1e1;
        background: #f2f2f2;
        text-align: center;
        overflow: hidden; }
        .b-attach-contact__f_ava-img:before {
          content: "";
          width: 0;
          height: 100%;
          display: inline-block;
          vertical-align: middle;
          margin-left: -2px; }
        .b-attach-contact__f_ava-img img {
          max-width: 60px;
          max-height: 60px;
          display: inline-block;
          border: solid 1px #e1e1e1;
          background: #ccc;
          vertical-align: middle;
          margin: -1px; }
    .b-attach-contact__f_info {
      padding: 0;
      padding-left: 15px;
      max-width: 670px; }
    .b-attach-contact__f-name {
      font-family: 'Georgia', sans-serif, Arial, Tahoma, Verdana, Helvetica;
      letter-spacing: 1px;
      display: block;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      font-size: 16px;
      text-transform: uppercase;
      margin-bottom: 5px; }
    .b-attach-contact__f-desc {
      display: block;
      font-size: 11px;
      color: #777778;
      line-height: 15px; }

/* END - attach contact */
/* END - style  - message attach*/
/*  BASIC STYLE */
div, div > *, input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

a {
  text-decoration: none; }

.dnone {
  display: none; }

.g-visNot {
  visibility: hidden !important; }

.g-heightNot {
  height: 0 !important;
  display: block !important;
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important; }
          
.body {
  position: relative;
  min-width: 1260px;
  /*background: url('../temp/01_c.jpg') no-repeat top left;*/
  background-position: 0px 3px;
  font-family: 'OpenSans', sans-serif, Arial, Tahoma, Verdana, Helvetica;
  font-size: 12px; }

.body-content {
  min-width: 1260px;
  padding: 40px 0 0;
  max-width: 1260px;
  overflow: hidden; }
  .body-content_right-panel {
    padding-right: 250px; }
    .body-content_right-panel .content {
      padding-right: 0; }
    .body-content_right-panel .footer {
      padding-right: 0; }
      .body-content_right-panel .footer-zone__i_1 {
        width: 30%; }
      .body-content_right-panel .footer-zone__i_2 {
        width: 70%; }
  .body-content_color-row {
    max-width: 100%; }
    .body-content_color-row .content {
      padding-right: 0; }
    .body-content_color-row .box-fields-row {
      max-width: -webkit-calc(100% + 80px);
      max-width: calc(100% + 80px); }
      .body-content_color-row .box-fields-row_out {
        padding: 40px;}
    .body-content_color-row .box-fields-row_inner {
      max-width: 970px; }

.btn-lk {
  position: relative;
  display: inline-block;
  padding: 12px 24px;
  -webkit-border-radius: 25px;
          border-radius: 25px;
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  font-family: 'OpenSans-Bold';
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid #9d0900;
  background: #9d0900; }
  .btn-lk:hover {
    -webkit-box-shadow: 0 0 0 0px transparent, inset -5px 9px 12px 5px rgba(0, 0, 0, 0.3);
            box-shadow: 0 0 0 0px transparent, inset -5px 9px 12px 5px rgba(0, 0, 0, 0.3); }
  .btn-lk_save, .btn-lk_aim {
    text-transform: uppercase;
    margin-top: 10px;
    margin-right: 16px;
    vertical-align: middle; }
  .btn-lk_save.detail-spec{
    margin-bottom: 50px;
  }
  .btn-lk_inner {
    border-color: #a6a6a6;
    color: #a6a6a6;
    margin-top: 30px;
    background-color: #fff;
    text-transform: uppercase;
    padding: 7px 25px;
    font-size: 11px;
    line-height: 12px; }
    .btn-lk_inner:hover {
      -webkit-box-shadow: inset 0 0 5px 1px rgba(0, 0, 0, 0.1) !important;
              box-shadow: inset 0 0 5px 1px rgba(0, 0, 0, 0.1) !important; }
    .btn-lk_inner_contour {
      font-family: 'open-sans-semibold';
      border: solid 1px #9d0900;
      color: #9d0900;
      padding: 9px 25px;
      line-height: 13px;
      vertical-align: top;
      margin-top: 0;
      background: transparent; }
      .btn-lk_inner_contour_lite {
        padding: 9px 25px;
        border-width: 1px;
        font-family: 'OpenSans'; }
  .btn-lk_create {
    padding: 12px 50px; }
  .btn-lk_send {
    padding: 12px 50px;
    text-transform: uppercase; }
  .btn-lk_RP {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: 1px solid #d1d1d1;
    background-color: #f2f2f2;
    color: #777778;
    font-size: 11px;
    width: 100%;
    padding: 5px 0;
    line-height: 20px;
    margin-bottom: 18px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-left: 45px;
    height: 31px;
    text-transform: uppercase; }
    .btn-lk_RP:before {
      content: "";
      display: block;
      width: 20px;
      height: 20px;
      position: absolute;
      left: 15px;
      top: 50%;
      margin-top: -10px;
      background-image: url("../images/sprite_icons_2.png");
      background-repeat: no-repeat; }
    .btn-lk_RP_pref:before {
      background-position: 0px -115px; }
    .btn-lk_RP_pref:hover:before {
      background-position: 0px -140px; }
    .btn-lk_RP_help:before {
      background-position: -25px -115px; }
    .btn-lk_RP_help:hover:before {
      background-position: -25px -140px; }
    .btn-lk_RP:hover {
      color: #9d0900;
      -webkit-box-shadow: 0 0 0 0px transparent, inset -5px 9px 12px 5px white;
              box-shadow: 0 0 0 0px transparent, inset -5px 9px 12px 5px white; }
    .btn-lk_RP:last-child {
      margin-bottom: 0; }

.input_select:after {
  content: "";
  display: block;
  width: 7px;
  height: 4px;
  border: 5px solid transparent;
  border-top: 5px solid #6d2e2b;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  top: auto;
  bottom: 10px;
  right: 10px;
  z-index: 999; }

.input_select-active:after {
  border-top: 5px solid transparent;
  border-bottom: 5px solid #6d2e2b; }

.def-link {
  cursor: pointer;
  color: #9d0900;
  text-decoration: underline;
  font-size: 12px;
  display: inline-block;
  vertical-align: middle;
  line-height: 12px; }
  .def-link:hover {
    text-decoration: none; }

.def-p {
  padding: 12px 0;
  font-size: 12px;
  line-height: 18px;
  display: block; }

/* MAIN - MENU*/
.main-menu {
  width: 210px;
  color: #fff;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 40px 20px 0 40px;
  -webkit-box-shadow: 0 0 0 0px transparent, inset -20px 0 30px -10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 0 0px transparent, inset -20px 0 30px -10px rgba(0, 0, 0, 0.3);
  background: url("../images/bg/bg_main-menu.png") repeat-y left top;
  background-color: #6d2e2b; }
  .main-menu__back-s {
    -webkit-border-radius: 16px;
            border-radius: 16px;
    height: 32px;
    display: inline-block;
    border: 2px solid #f7f7f7;
    width: 145px;
    line-height: 11px;
    font-family: 'OpenSans-Bold';
    font-size: 11px;
    text-align: center;
    text-decoration: none;
    color: #6d2e2b;
    position: relative;
    padding-left: 15px;
    padding-top: 8px;
    padding-bottom: 7px;
    background-color: #fff; }
    .main-menu__back-s:link, .main-menu__back-s:visited, .main-menu__back-s:active {
      color: #6d2e2b; }
    .main-menu__back-s:hover {
      -webkit-box-shadow: 0px 0px 0px 0px transparent, -16px 14px 8px -25px rgba(0, 0, 0, 0.2) inset;
              box-shadow: 0px 0px 0px 0px transparent, -16px 14px 8px -25px rgba(0, 0, 0, 0.2) inset; }
    .main-menu__back-s:before {
      content: "";
      display: block;
      border: 5px solid transparent;
      border-right: 5px solid #6d2e2b;
      width: 0px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      position: absolute;
      top: 50%;
      margin-top: -5px;
      left: 10px; }
  .main-menu-list {
    font-size: 0; }
    .main-menu-list__i {
      font-size: 11px;
      display: block;
      margin-top: 48px;
      margin-left: 30px;
      text-transform: uppercase;
      letter-spacing: 1px;
      white-space: nowrap;
      position: relative; }
      .main-menu-list__i:before {
        content: "";
        display: block;
        width: 20px;
        height: 20px;
        position: absolute;
        left: -33px;
        top: -5px; }
      .main-menu-list__i:nth-last-child(2) {
        padding-bottom: 20px; }
      .main-menu-list__i a {
        color: #fff; }
        .main-menu-list__i a:link, .main-menu-list__i a:visited, .main-menu-list__i a:active {
          color: #fff; }
        .main-menu-list__i a:hover {
          text-decoration: underline; }
      .main-menu-list__i_exit:before {
        background-image: url("../images/ico_exit.png");
        background-repeat: no-repeat;
        background-position: 3px 2px; }
      .main-menu-list__i_active {
        color: #985d5a; }
        .main-menu-list__i_active a {
          color: #985d5a !important; }
        .main-menu-list__i_active .main-menu-list-inner {
          display: block; }
      .main-menu-list__i_0:before {
        background-image: url("../images/sprite_icons_2.png");
        background-repeat: no-repeat;
        background-position: 0px 1px; }
      .main-menu-list__i_0.main-menu-list__i_active:before {
        background-position: 0px -20px; }
      .main-menu-list__i_1:before {
        background-image: url("../images/sprite_icons_2.png");
        background-repeat: no-repeat;
        background-position: -19px 1px; }
      .main-menu-list__i_1.main-menu-list__i_active:before {
        background-position: -19px -20px; }
      .main-menu-list__i_2:before {
        background-image: url("../images/sprite_icons_2.png");
        background-repeat: no-repeat;
        background-position: -42px 1px; }
      .main-menu-list__i_2.main-menu-list__i_active:before {
        background-position: -42px -20px; }
      .main-menu-list__i_3:before {
        background-image: url("../images/sprite_icons_2.png");
        background-repeat: no-repeat;
        background-position: -62px 1px; }
      .main-menu-list__i_3.main-menu-list__i_active:before {
        background-position: -62px -20px; }
      .main-menu-list__i_4:before {
        background-image: url("../images/sprite_icons_2.png");
        background-repeat: no-repeat;
        background-position: -84px 1px; }
      .main-menu-list__i_4.main-menu-list__i_active:before {
        background-position: -84px -20px; }
      .main-menu-list__i_5:before {
        background-image: url("../images/sprite_icons_2.png");
        background-repeat: no-repeat;
        background-position: -104px 1px; }
      .main-menu-list__i_5.main-menu-list__i_active:before {
        background-position: -104px -20px; }
      .main-menu-list__i_6:before {
        background-image: url("../images/sprite_icons_2.png");
        background-repeat: no-repeat;
        background-position: -125px 1px; }
      .main-menu-list__i_6.main-menu-list__i_active:before {
        background-position: -125px -20px; }
      .main-menu-list__i_7:before {
        background-image: url("../images/sprite_icons_2.png");
        background-repeat: no-repeat;
        background-position: -146px 1px; }
      .main-menu-list__i_7.main-menu-list__i_active:before {
        background-position: -146px -19px; }
      .main-menu-list__i_8:before {
        background-image: url("../images/sprite_icons_2.png");
        background-repeat: no-repeat;
        background-position: -168px 0; }
      .main-menu-list__i_8.main-menu-list__i_active:before {
        background-position: -168px -20px; }
      .main-menu-list__i_9:before {
        background-image: url("../images/sprite_icons_2.png");
        background-repeat: no-repeat;
        background-position: -209px 1px; }
      .main-menu-list__i_9.main-menu-list__i_active:before {
        background-position: -209px -20px; }
      .main-menu-list__i_10:before {
        background-image: url("../images/sprite_icons_2.png");
        background-repeat: no-repeat;
        background-position: -188px 1px; }
      .main-menu-list__i_10.main-menu-list__i_active:before {
        background-position: -188px -20px; }
  .main-menu-list-inner {
    font-size: 0;
    display: none;
    margin-top: 15px; }
    .main-menu-list-inner:after {
      content: "";
      display: block;
      clear: both;
      height: 0px; }
    .main-menu-list-inner__i {
      font-size: 11px;
      display: block;
      margin-top: 10px;
      margin-left: 10px;
      white-space: nowrap;
      text-transform: none;
      position: relative;
      float: left;
      margin-bottom: 10px; }
      .main-menu-list-inner__i a {
        color: #fff !important; }
      .main-menu-list-inner__i.active a {
      color: #985d5a !important; }
  .main-menu-new-item {
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0;
    border: 1px solid #985d5a;
    font-family: 'OpenSans-Bold';
    -webkit-border-radius: 20px;
            border-radius: 20px;
    height: 20px;
    width: 20px;
    vertical-align: middle;
    text-align: center;
    position: absolute;
    bottom: 0;
    margin-bottom: -6px;
    right: -23px; }
    .main-menu-new-item:before {
      content: "";
      display: block;
      width: 0;
      height: 100%;
      display: inline-block;
      vertical-align: middle; }

/* END - MAIN - MENU*/
/* CONTENT*/
.content {
  min-height: 720px;
  width: 100%;
  min-width: 1260;
  padding-left: 250px;
  padding-bottom: 60px;
  padding-right: 40px; }
  .content:after {
    content: "";
    display: block;
    clear: both;
    height: 1px;
    background: transparent; }

.clear {
  clear: both;
  height: 50px; }

.title {
  font-family: 'Georgia', sans-serif, Arial, Tahoma, Verdana, Helvetica;
  letter-spacing: 1px;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .title-box {
    font-size: 16px;
    text-transform: uppercase;
    margin-top: -3px;
    margin-bottom: 10px; }
    .title-box.institution-help-instruction{line-height: 30px;}
    .title-box_inner {
      margin-top: 20px; }
    .title-box__id {
      display: none; }
    .title-box_id {
      padding-right: 135px; }
      .title-box_id .title-box__id {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        margin-top: -3px;
        font-family: 'Georgia'; }
        .title-box_id .title-box__id:before {
          content: "ID";
          display: block;
          position: absolute;
          margin-left: -20px;
          font-size: 11px;
          color: #9d0900;
          font-family: 'OpenSans';
          top: 3px;
          font-weight: 700; }
  .title-group {
    line-height: 11px;
    font-family: 'OpenSans-Bold';
    font-size: 11px;
    color: #9d0900;
    margin: 15px 0;
    text-transform: uppercase; }
  .title-stat-list {
    font-size: 0;
    float: right; }
    .title-stat-list:after {
      content: "";
      width: 0;
      clear: both;
      display: block;
      position: relative; }
    .title-stat-list__i {
      line-height: 11px;
      font-family: 'OpenSans-Bold';
      font-size: 11px;
      color: #9d0900;
      margin: 0 0 15px;
      text-transform: uppercase;
      display: inline-block;
      margin-right: 40px;
      position: relative;
      padding-right: 27px; }
      .title-stat-list__i a {
        color: #9d0900;
        text-decoration: none;
        border-bottom: 1px solid transparent; }
        .title-stat-list__i a:hover {
          border-bottom: 1px solid #9d0900; }
        .title-stat-list__i a:visited, .title-stat-list__i a:active {
          color: #9d0900;
          text-decoration: none;
          border-bottom: 1px solid transparent; }
      .title-stat-list__i:last-child {
        margin-right: 0; }
      .title-stat-list__i-count {
        display: block;
        width: 20px;
        height: 20px;
        line-height: 18px;
        border: solid 1px #c56e6a;
        -webkit-border-radius: 10px;
                border-radius: 10px;
        text-align: center;
        color: #c56e6a;
        position: absolute;
        right: 0px;
        top: 50%;
        margin-top: -11px; }
  .title-row {
    margin-bottom: 15px; }
    .title-row .title-box {
      display: inline-block;
      vertical-align: middle;
      margin-bottom: 0;
      margin-right: 15px;
      margin-top: 0; }
    .title-row .btn-lk {
      vertical-align: middle; }
  .title_DEF {
    text-transform: uppercase;
    font-size: 11px;
    font-family: 'OpenSans-Bold';
    letter-spacing: 0; }
  .title-msg {
    font-size: 16px;
    letter-spacing: 0;
    font-family: "open-sans-semibold"; }
  .title_center {
    text-align: center; }

.paragraph {
  /*font-family: 'OpenSans';*/
  font-size: 12px;
  /*color: #888888;*/
  color: #777778;
  line-height: 14px;
  display: block;
  margin-bottom: 15px;
  width: 670px; }

.box {
  /*margin-bottom: 60px;*/ }
  .box-btn-lk-save {
    font-size: 0; }
    .box-btn-lk-save__alert {
      font-family: 'OpenSans';
      font-size: 12px;
      color: #888888;
      color: #777778;
      line-height: 15px;
      display: inline-block;
      margin-bottom: 2px;
      vertical-align: middle;
      margin-bottom: -10px;
      max-width: 150px; }

.box-fields {
  margin-bottom: 13px;
  display: inline-block;
  width: 100%;
  vertical-align: top;
  position: relative; }
  .box-fields-row {
    font-size: 0;
    max-width: 970px; }
    .box-fields-row_cell-2 .box-fields, .box-fields-row_cell-1 .box-fields {
      width: 445px;
      max-width: 445px; }
      .box-fields-row_cell-2 .box-fields_column, .box-fields-row_cell-1 .box-fields_column {
        margin-right: 80px; }
        .box-fields-row_cell-2 .box-fields_column:last-child, .box-fields-row_cell-1 .box-fields_column:last-child {
          margin-right: 0; }
      .box-fields-row_cell-2 .box-fields:nth-last-child, .box-fields-row_cell-1 .box-fields:nth-last-child {
        margin-right: 0; }
    .box-fields-row_cell-2 .box-fields {
      margin-right: 80px; }
      .box-fields-row_cell-2 .box-fields:last-child {
        margin-right: 0; }
    .box-fields-row_cell-3-date .box-fields {
      width: 405px;
      margin-right: 26px; }
    .box-fields-row_cell-3-date .input_select {
      width: 108px;
      margin-right: 0; }
      .box-fields-row_cell-3-date .input_select .box-fields__input {
        width: 108px;
        padding-right: 27px; }
    .box-fields-row_inner {
      max-width: 970px; }
    .box-fields-row_out {
      margin-left: -40px;
      padding: 40px 0 0 45px; }
      .box-fields-row_out_gray {
        background-color: #f2f2f2; }
  .box-fields-group {
    width: auto;
    margin-bottom: 13px;
    display: inline-block;
    position: relative; }
  .box-fields__label {
    /*font-family: 'OpenSans';*/
    font-size: 12px;
    /*color: #888888;*/
    color: #777778;
    line-height: 18px;
    display: block;
    margin-bottom: 2px; }
  .box-fields__input {
    border: 1px solid #d1d1d1;
    -webkit-border-radius: 3px;
            border-radius: 3px;
    /*font: 14px 'OpenSans', sans-serif, Arial, Tahoma, Verdana, Helvetica;*/
    font-size: 14px;
    line-height: normal;
    color: #000;
    background: #fff;
    /*box-shadow: inset 0 2px 6px 0px rgba(0,0,0,0.15);*/
    /*transition: box-shadow 0.1s, border 0.1s;*/
    vertical-align: middle;
    white-space: nowrap;
    padding: 6px 10px;
    width: 100%;
    /*max-width: 780px;*/
    max-width: 970px;
    position: relative; }
    .box-fields__input_date {
      width: 397px;
      margin-right: 5px;
      vertical-align: top; }
    .box-fields__input_change-pass {
      max-width: -webkit-calc(100% - 115px - 26px);
      max-width: calc(100% - 115px - 26px);
      margin-right: 26px;
      padding-right: 36px; }
    .box-fields__input_new-target {
      height: 363px;
      max-height: 363px;
      min-height: 363px;
      resize: none;
      word-wrap: break-word;
      white-space: pre-wrap; }
    .box-fields__input_search {
      font-size: 12px;
      padding: 9px 20px 9px 40px;
      -webkit-border-radius: 20px;
              border-radius: 20px;
      font-family: 'OpenSans-Italic'; }
      .box-fields__input_search:focus, .box-fields__input_search:active, .box-fields__input_search:hover {
        -webkit-box-shadow: 0px 0px 0px 0px transparent, -16px 14px 8px -25px rgba(0, 0, 0, 0.2) inset;
                box-shadow: 0px 0px 0px 0px transparent, -16px 14px 8px -25px rgba(0, 0, 0, 0.2) inset; }
  .box-fields__input_cell-2 .box-fields__input {
      width: 217px;
      margin-left: 10px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box; }
      .box-fields__input_cell-2 .box-fields__input:first-child {
        margin-left: 0; }
  .box-fields__date-init {
    width: 42px;
    height: 33px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: 1px solid #ce6c66;
    display: inline-block;
    -webkit-border-radius: 3px;
            border-radius: 3px;
    cursor: pointer;
    position: relative;
    vertical-align: middle;
    z-index: 1; }
    .box-fields__date-init:after {
      content: "";
      display: block;
      width: 20px;
      height: 18px;
      position: absolute;
      top: 50%;
      margin-top: -9px;
      left: 50%;
      margin-left: -10px;
      background: url("../images/ico_date.png") no-repeat left top; }
    .box-fields__date-init_active {
      cursor: default; }
    .box-fields__date-init:hover {
      border-color: #6d2e2b; }
  .box-fields_period-reg_cover {
    display: inline-block;
    width: 50%; }
  .box-fields_period-reg .box-fields__input_start,
  .box-fields_period-reg .box-fields__input_finish {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    /*width: 150px;*/
    width: 155px;
    margin-right: 5px; }
  .box-fields_period-reg .box-fields__date-init {
    margin-right: 20px; }
    .box-fields_period-reg .box-fields__date-init:last-child {
      margin-right: 0; }
  .box-fields__text-area {
    height: 100px;
    max-height: 100px;
    min-height: 100px;
    resize: none;
    /* Запрещаем изменять размер */
    overflow: hidden;
    word-wrap: break-word;
    white-space: pre-wrap; }
  .box-fields__label-p {
    font-size: 12px;
    color: #777778;
    line-height: 18px;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 2px;
    margin-right: 5px;
    vertical-align: middle; }
  .box-fields_search {
    position: relative;
    margin-top: 40px; }
    .box-fields_search:after {
      content: "";
      display: block;
      width: 18px;
      height: 18px;
      background-image: url("../images/sprite_icons_2.png");
      background-repeat: no-repeat;
      background-position: -64px -43px;
      position: absolute;
      top: 50%;
      margin-top: -9px;
      left: 14px; }
  .box-fields_add-cont__ico {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 16px;
    margin-bottom: -10px;
    right: 6px;
    font-size: 20px;
    font-family: "OpenSans-Bold";
    text-align: center;
    color: #9d0900;
    border: solid 1px #9d0900;
    -webkit-border-radius: 20px;
            border-radius: 20px;
    line-height: 17px;
    cursor: pointer; }
    .box-fields_add-cont__ico:hover {
      -webkit-box-shadow: inset 0 0 5px 1px rgba(0, 0, 0, 0.2);
              box-shadow: inset 0 0 5px 1px rgba(0, 0, 0, 0.2); }
  .box-fields__map-reg {
    border: 1px solid #d1d1d1;
    -webkit-border-radius: 3px;
            border-radius: 3px;
    background: #fff;
    height: 260px;
    width: 100%; }
/* ADD - block */
.b-add-f {
  margin-bottom: 30px; }
  .b-add-f .b-add-f-list {
    padding-top: 10px;
    display: block;
    font-size: 0; }
    .b-add-f .b-add-f-list:before {
      content: "";
      width: 0;
      height: 100%;
      display: inline-block;
      vertical-align: top; }
    .b-add-f .b-add-f-list__i {
      display: inline-block;
      vertical-align: top;
      width: 140px;
      height: 140px;
      margin-right: 20px;
      -webkit-border-radius: 3px;
              border-radius: 3px;
      box-sizin: border-box;
      border: solid 2px transparent;
      position: relative;
      background-color: #f2f2f2;
      text-align: center;
      cursor: pointer;
      border: 1px solid transparent;
      margin-bottom: 20px; }
      .b-add-f .b-add-f-list__i:hover {
        border-color: #d1d1d1; }
      .b-add-f .b-add-f-list__i:before {
        content: "";
        display: inline-block;
        vertical-align: middle;
        height: 100%;
        width: 0; }
      .b-add-f .b-add-f-list__i:nth-last-child {
        margin-right: 0; }
      .b-add-f .b-add-f-list__i_add-new {
        border: dashed 2px #e1e1e1;
        background-color: #fff;
        margin-right: 0; }
        .b-add-f .b-add-f-list__i_add-new:hover:after {
          color: #d1d1d1; }
        .b-add-f .b-add-f-list__i_add-new:hover:before {
          -webkit-box-shadow: inset 0 0 5px 1px rgba(0, 0, 0, 0.1);
                  box-shadow: inset 0 0 5px 1px rgba(0, 0, 0, 0.1); }
        .b-add-f .b-add-f-list__i_add-new:after, .b-add-f .b-add-f-list__i_add-new:before {
          content: "";
          display: block;
          position: absolute;
          top: 50%; }
        .b-add-f .b-add-f-list__i_add-new:after {
          content: "Загрузить";
          margin-top: 20px;
          text-transform: uppercase;
          font: 11px/11px 'OpenSans-Bold';
          left: 50%;
          margin-left: -35px;
          letter-spacing: 1px;
          color: #e1e1e1; }
        .b-add-f .b-add-f-list__i_add-new:before {
          width: 44px;
          height: 44px;
          -webkit-box-sizing: border-box;
                  box-sizing: border-box;
          border: solid 5px #e1e1e1;
          margin-top: -35px;
          -webkit-border-radius: 22px;
                  border-radius: 22px;
          left: 50%;
          margin-left: -22px;
          background-image: url("../images/sprite_icons_2.png");
          background-repeat: no-repeat;
          background-position: 8px -81px; }
      .b-add-f .b-add-f-list__i-delete {
        display: block;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        width: 40px;
        height: 40px;
        border: solid 4px #fff;
        background-color: #9d0900;
        -webkit-border-radius: 20px;
                border-radius: 20px;
        position: absolute;
        right: -14px;
        bottom: -14px; }
        .b-add-f .b-add-f-list__i-delete:before {
          content: "";
          height: 100%;
          vertical-align: middle;
          display: inline-block; }
        .b-add-f .b-add-f-list__i-delete:after {
          content: "";
          background-image: url("../images/sprite_icons_2.png");
          background-repeat: no-repeat;
          background-position: -22px -43px;
          vertical-align: middle;
          display: inline-block;
          width: 15px;
          height: 18px; }
        .b-add-f .b-add-f-list__i-delete:hover {
          z-index: 1;
          -webkit-box-shadow: 0px 0px 10px -1px rgba(0, 0, 0, 0.3);
                  box-shadow: 0px 0px 10px -1px rgba(0, 0, 0, 0.3); }
      .b-add-f .b-add-f-list__i img {
        max-width: 100%;
        max-height: 100%;
        display: inline-block;
        vertical-align: middle; }
  .b-add-f__limit {
    background: transparent; }

/* END - ADD - block*/
/* BLOCK - SOCIAL */
.box_socio-list__i {
  margin-bottom: 20px;
  width: 90px;
  height: 90px;
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  position: relative;
  background-color: #f2f2f2;
  text-align: center;
  cursor: pointer;
  border: 1px solid #fff; }
  .box_socio-list__i:hover {
    border-color: #d1d1d1; }
  .box_socio-list__i:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    width: 0; }
  .box_socio-list__i img {
    max-width: 100%;
    max-height: 100%;
    display: inline-block;
    vertical-align: middle;
    border-radius: 2px;}
  .box_socio-list__i_add-new {
    border: dotted 2px #e1e1e1;
    background-color: #fff; }
    .box_socio-list__i_add-new:before {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      width: 44px;
      height: 44px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      border: solid 5px #e1e1e1;
      margin-top: -22px;
      -webkit-border-radius: 22px;
              border-radius: 22px;
      left: 50%;
      margin-left: -22px;
      background-image: url("../images/sprite_icons_2.png");
      background-repeat: no-repeat;
      background-position: -29px -83px; }
    .box_socio-list__i_add-new:hover:before {
      -webkit-box-shadow: inset 0 0 5px 1px rgba(0, 0, 0, 0.1);
              box-shadow: inset 0 0 5px 1px rgba(0, 0, 0, 0.1); }

.box_socio__popup {
  width: 380px;
  height: 240px;
  border: 1px solid #d1d1d1;
  -webkit-box-shadow: 0 0 30px -5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 30px -5px rgba(0, 0, 0, 0.2);
  padding: 20px;
  position: absolute;
  bottom: -100px;
  left: -70px;
  background: #fff;
  z-index: 1;
  display: none; }
  .box_socio__popup.active {
    display: block; }
  .box_socio__popup-title {
    text-align: center; }
  .box_socio__popup-list {
    display: block;
    text-align: center;
    padding-top: 30px; }
    .box_socio__popup-list-i {
      font-size: 0;
      width: 280px;
      margin-left: 15px; }
      .box_socio__popup-list-i li {
        display: inline-block;
        width: 44px;
        height: 44px;
        margin-left: 30px;
        margin-bottom: 30px;
        -webkit-border-radius: 2px;
                border-radius: 2px; }
        .box_socio__popup-list-i li a {
          text-decoration: none;
          display: block;
          width: 100%;
          height: 100%; }
        .box_socio__popup-list-i li.ok {
          background-image: url("../images/socio_btn/icons-socio.png");
          background-repeat: no-repeat;
          background-position: 0 0; }
          .box_socio__popup-list-i li.ok.disable {
            background-position: 02px -47px; }
        .box_socio__popup-list-i li.vk {
          background-image: url("../images/socio_btn/icons-socio.png");
          background-repeat: no-repeat;
          background-position: -49px 0; }
          .box_socio__popup-list-i li.vk.disable {
            background-position: -49px -47px; }
        .box_socio__popup-list-i li.fb {
          background-image: url("../images/socio_btn/icons-socio.png");
          background-repeat: no-repeat;
          background-position: -97px 0; }
          .box_socio__popup-list-i li.fb.disable {
            background-position: -97px -47px; }
        .box_socio__popup-list-i li.ig {
          background-image: url("../images/socio_btn/icons-socio.png");
          background-repeat: no-repeat;
          background-position: -145px 0; }
          .box_socio__popup-list-i li.ig.disable {
            background-position: -145px -47px; }
        .box_socio__popup-list-i li.tw {
          background-image: url("../images/socio_btn/icons-socio.png");
          background-repeat: no-repeat;
          background-position: -192px 0; }
          .box_socio__popup-list-i li.tw.disable {
            background-position: -192px -47px; }
        .box_socio__popup-list-i li.in {
          background-image: url("../images/socio_btn/icons-socio.png");
          background-repeat: no-repeat;
          background-position: -240px 0; }
          .box_socio__popup-list-i li.in.disable {
            background-position: -240px -47px; }
  .box_socio__popup-but {
    display: block;
    margin: 0 auto; }

/* END - BLOCK - SOCIAL */
/* BLOCK - SECURE__ CHANGE-pas*/
.box_secure__reg {
  position: relative; }

.box_secure__change-pass-loop {
  display: block;
  width: 40px;
  height: -webkit-calc(100% - 2px);
  height: calc(100% - 2px);
  position: absolute;
  right: 1px;
  right: -webkit-calc(115px + 26px + 1px);
  right: calc(115px + 26px + 1px);
  top: 1px;
  cursor: pointer;
  overflow: hidden;
  background: #fff;
  -webkit-border-top-right-radius: 3px;
          border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
          border-bottom-right-radius: 3px; }
  .box_secure__change-pass-loop:after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -6px;
    width: 20px;
    height: 10px;
    right: 10px;
    background-image: url("../images/sprite_icons_2.png");
    background-repeat: no-repeat;
    background-position: -40px -50px; }
  .box_secure__change-pass-loop:hover {
    -webkit-box-shadow: inset 0 0 5px 1px rgba(0, 0, 0, 0.1) !important;
            box-shadow: inset 0 0 5px 1px rgba(0, 0, 0, 0.1) !important; }
  .box_secure__change-pass-loop.showPass:after {
    background-position: -138px -48px;
    height: 12px;
    margin-top: -8px; }

/* END - SECURE__ CHANGE-pas */
/* BLOCK - NAVIGATE (TAB) */
.b-tab-nav {
  font-size: 0;
  padding-left: 40px; }
  .b-tab-nav__i {
    display: inline-block;
    font-size: 12px;
    color: #9d0900;
    line-height: 18px;
    margin-bottom: 2px;
    margin-right: 20px; }
    .b-tab-nav__i a {
      color: #9d0900;
      text-decoration: none; }
      .b-tab-nav__i a:visited, .b-tab-nav__i a:active {
        color: #9d0900;
        text-decoration: none; }
      .b-tab-nav__i a:hover {
        border-bottom: 1px solid #9d0900; }
    .b-tab-nav__i:last-child {
      margin-right: 0; }
    .b-tab-nav__i_active {
      color: #777778;
      cursor: default; }
      .b-tab-nav__i_active a {
        color: #777778;
        cursor: default;
        text-decoration: none; }
        .b-tab-nav__i_active a:link, .b-tab-nav__i_active a:visited, .b-tab-nav__i_active a:active {
          color: #777778;
          cursor: default;
          text-decoration: none; }
        .b-tab-nav__i_active a:hover {
          border-bottom: 1px solid transparent; }
      .b-tab-nav__i_active .title-stat-list__i-count {
        color: #9d0900; }
    .b-tab-nav__i-count {
      color: #777778; }

.b-tab-content__row {
  margin-bottom: 40px; }
  .b-tab-content__row:last-child {
    margin-bottom: 0; }
  .b-tab-content__row-inner {
    font-size: 0; }

.b-tab-content__i {
  display: inline-block;
  /*width: 115px;*/
  width: 135px;
  text-align: center;
  overflow: hidden;
  vertical-align: top;
  position: relative;
  /*margin-right: 105px;*/
  /*margin-right: 80px;*/
  margin-bottom: 40px;
  margin-right: 105px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .b-tab-content__i:hover .b-tab-content__i-avatar_cover {
    border-color: #d1d1d1; }
  .b-tab-content__i:last-child {
    margin-right: 0; }
  .b-tab-content__i-avatar {
    clear: both;
    width: 115px;
    height: 115px;
    position: relative;
    margin-bottom: 10px;
    overflow: hidden;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-left: auto;
    margin-right: auto; }
    .b-tab-content__i-avatar_cover {
      width: 115px;
      height: 115px;
      -webkit-border-radius: 55px;
              border-radius: 55px;
      border: solid 1px #e1e1e1;
      background: #f2f2f2;
      vertical-align: middle;
      text-align: center;
      overflow: hidden;
      -webkit-box-sizing: border-box;
              box-sizing: border-box; }
      .b-tab-content__i-avatar_cover:before {
        content: "";
        width: 0;
        height: 100%;
        display: inline-block;
        vertical-align: middle;
        margin-left: -2px; }
      .b-tab-content__i-avatar_cover img {
        max-width: 117px;
        max-height: 117px;
        display: inline-block;
        border: solid 1px #e1e1e1;
        background: #ccc;
        vertical-align: middle;
        margin: -1px; }
  .b-tab-content__i-name {
    cursor: pointer;
    line-height: 11px;
    font-size: 11px;
    color: #000;
    text-transform: uppercase;
    display: inline-block;
    font-family: 'OpenSans-Bold'; }
  .b-tab-content__i-about {
    cursor: pointer;
    font-size: 12px;
    color: #777778;
    line-height: 14px;
    display: block;
    margin-bottom: 2px;
    margin-top: 3px;}
  .b-tab-content__i-delete {
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    border: solid 4px #fff;
    background-color: #9d0900;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    position: absolute;
    right: 0;
    bottom: 0;
    cursor: pointer; }
    .b-tab-content__i-delete:before {
      content: "";
      height: 100%;
      vertical-align: middle;
      display: inline-block; }
    .b-tab-content__i-delete:after {
      content: "";
      background-image: url("../images/sprite_icons_2.png");
      background-repeat: no-repeat;
      background-position: -22px -43px;
      vertical-align: middle;
      display: inline-block;
      width: 15px;
      height: 18px; }
    .b-tab-content__i-delete:hover {
      z-index: 1;
      background-color: #c56e6a; }
  .b-tab-content__i_add-new:hover .b-tab-content__i-avatar:before {
    -webkit-box-shadow: inset 0 0 5px 1px rgba(0, 0, 0, 0.1);
            box-shadow: inset 0 0 5px 1px rgba(0, 0, 0, 0.1); }
  .b-tab-content__i_add-new:hover .b-tab-content__i-name {
    /*color: #777778;*/
    color: #d1d1d1; }
  .b-tab-content__i_add-new .b-tab-content__i-avatar {
    -webkit-border-radius: 55px;
            border-radius: 55px;
    background-image: url("../images/bg/border-dotted.png");
    background-repeat: no-repeat;
    background-position: -0 0;
    background-size: cover; }
    .b-tab-content__i_add-new .b-tab-content__i-avatar:before {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      width: 44px;
      height: 44px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      border: solid 5px #e1e1e1;
      margin-top: -22px;
      -webkit-border-radius: 22px;
      border-radius: 22px;
      left: 50%;
      margin-left: -22px;
      background-image: url("../images/sprite_icons_2.png");
      background-repeat: no-repeat;
      background-position: -29px -83px; }
  .b-tab-content__i_add-new .b-tab-content__i-name {
    color: #e1e1e1; }

.b-tab-content_weight .b-tab-content__i {
  width: 260px;
  margin: 0;
  /*margin-right: 67px;*/
  margin-right: 60px; }
  .b-tab-content_weight .b-tab-content__i:last-child {
    margin-right: 0; }
  .b-tab-content_weight .b-tab-content__i_add-new {
    /*width: 115px;*/
    /*text-align: right;*/ }
    .b-tab-content_weight .b-tab-content__i_add-new .b-tab-content__i-avatar {
      /*margin-right: 0;*/ }
    .b-tab-content_weight .b-tab-content__i_add-new .b-tab-content__i-name {
      width: 115px;
      text-align: center; }
  .b-tab-content_weight .b-tab-content__i-about {
    text-align: center; }

/* END - BLOCK - NAVIGATE (TAB) */
/* BLOCK - GRAPH-TIMING */
.b-graph-timing__title {
  margin-top: 40px;
  display: block;
  line-height: 11px;
  font-size: 11px;
  color: #000;
  text-transform: uppercase;
  font-family: 'OpenSans-Bold';
  margin-bottom: 15px; }

.b-graph-timing-list {
  font-size: 0; }
  .b-graph-timing-list__i {
    display: inline-block;
    vertical-align: top;
    font-size: 11px;
    max-width: 110px;
    width: 110px;
    overflow: hidden;
    padding-left: 15px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    .b-graph-timing-list__i:first-child {
      padding-left: 0; }
  .b-graph-timing-list__wd {
    display: block;
    color: #777778;
    margin-bottom: 15px; }
  .b-graph-timing-list__wdt {
    display: inline-block;
    color: #000; }
  .b-graph-timing-list__ival {
    display: block;
    display: block;
    font-size: 11px;
    line-height: 15px; }
    .b-graph-timing-list__ival_not {
      color: #777778; }

/* END - BLOCK - GRAPH-TIMING */
.box-fields__input_search_cover {
  position: relative; }
  .box-fields__input_search_cover:after {
    content: "";
    display: block;
    width: 18px;
    height: 18px;
    background-image: url("../images/sprite_icons_2.png");
    background-repeat: no-repeat;
    background-position: -64px -43px;
    position: absolute;
    top: 50%;
    margin-top: -9px;
    left: 14px; }

.b-def-select .jq-selectbox__dropdown {
  background: #fff;
  width: -webkit-calc(100% + 2px);
  width: calc(100% + 2px);
  border: 1px solid #d1d1d1;
  left: -1px !important;
  top: 30px !important;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  -webkit-border-top-left-radius: 0;
          border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
          border-top-right-radius: 0; }
  .b-def-select .jq-selectbox__dropdown li {
    border-bottom: 1px solid #d1d1d1;
    width: 100%;
    height: 31px;
    line-height: 30px;
    padding-left: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    cursor: pointer; }
    .b-def-select .jq-selectbox__dropdown li:last-child {
      border: none; }
    .b-def-select .jq-selectbox__dropdown li:hover {
      color: #9d0900;
      -webkit-box-shadow: inset 0 0 26px 0px rgba(0, 0, 0, 0.1);
              box-shadow: inset 0 0 26px 0px rgba(0, 0, 0, 0.1); }
/* 50% width */
.box-w50 {
  font-size: 0; }
  .box-w50__1 {
    display: inline-block;
    width: 50%;
    vertical-align: top; }
  .box-w50__2 {
    display: inline-block;
    width: 50%;
    vertical-align: top; }
/* END 50% width*/
/* filter BOX*/
.b-filter-sort {
  font-size: 0;
  text-align: right; }
  .b-filter-sort__i {
    text-transform: uppercase;
    padding-right: 15px;
    padding-left: 10px;
    color: #777778;
    font-size: 12px;
    display: inline-block;
    vertical-align: top;
    position: relative; }
    .b-filter-sort__i_param:after {
      content: "";
      display: block;
      border: 5px solid transparent;
      border-top: 5px solid #777778;
      width: 0px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      position: absolute;
      top: 50%;
      margin-top: -3px;
      right: 0; }
    .b-filter-sort__i_param.__up:after {
      border: 5px solid transparent;
      border-top: 5px solid #777778; }
    .b-filter-sort__i_param.__down:after {
      border: 5px solid transparent;
      border-bottom: 5px solid #777778;
      margin-top: -8px; }
    .b-filter-sort__i_param.__active .b-filter-sort__i-i {
      color: #1b1464; }
    .b-filter-sort__i_param.__active.__up:after {
      border-top-color: #1b1464; }
    .b-filter-sort__i_param.__active.__down:after {
      border-bottom-color: #1b1464; }
    .b-filter-sort__i_label {
      padding-right: 0; }
    .b-filter-sort__i-i {
      color: #777778;
      text-decoration: underline;
      font-weight: bold; }
      .b-filter-sort__i-i:hover {
        text-decoration: none; }

/* END - filter BOX*/
/* TABLE - BOX */
.b-table {
  padding-top: 20px; }
  .b-table table {
    width: 100%; }
    .b-table table.w6 tr td {
      width: 20%; }
    .b-table table thead {
      position: relative;
      border-bottom: 1px solid #d1d1d1;
      /*  &:after{
          content:"";
          display: table-row;
          position: absolute;
          left: 0;
          top:0;
          width: 100%;
          height: 100%;
          z-index: 9999;
          background-color: red;
          display: block;
        }*/ }
      .b-table table thead tr {
        position: relative; }
        .b-table table thead tr th {
          padding: 15px 20px;
          color: #777778; }
          .b-table table thead tr th:first-child {
            padding-left: 3px; }
    .b-table table tbody tr {
      border-bottom: 1px solid #e5e5e5; }
      .b-table table tbody tr td {
        padding: 15px 20px; }
        .b-table table tbody tr td:first-child {
          padding-left: 3px; }
        .b-table table tbody tr td a {
          text-decoration: underline;
          color: #1b1464; }
          .b-table table tbody tr td a:hover {
            text-decoration: none; }
        .b-table table tbody tr td.b-table__E a {
          max-width: 20px;
          width: 20px;
          min-width: 20px;
          height: 15px;
          display: inline-block;
          text-decoration: none;
          background-image: url("../images/bg/sprite_icons_2.png");
          background-repeat: no-repeat;
          background-position: -163px -47px;
          font-size: 0; }
          .b-table table tbody tr td.b-table__E a:hover {
            background-position: -43px -23px; }
/* END - TABLE _ BOX*/
/* END - CONTENT*/
/* RIGHT-PANEL*/
.right-panel {
  background-color: transparent; }

/* END - RIGHT-PANEL*/
/* Footer*/
.footer {
  padding-left: 250px;
  /*border-top: 1px solid #e5e5e5;*/
  /*padding-top: 15px;*/
  width: 100%;
  padding-bottom: 40px;
  padding-right: 40px;
  color: #777778; }
  .footer hr {
    background-color: #e5e5e5;
    height: 1px;
    margin-bottom: 15px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: none; }
  .footer-zone {
    font-size: 0; }
    .footer-zone__i {
      display: inline-block;
      font-size: 12px;
      width: 50%; }
      .footer-zone__i_1 {
        text-align: left; }
      .footer-zone__i_2 {
        text-align: right; }
  .footer-tel {
    padding-left: 25px;
    display: inline-block;
    position: relative; }
    .footer-tel:before {
      content: "";
      display: inline-block;
      vertical-align: middle;
      font-size: 12px;
      line-height: 12px;
      position: absolute;
      left: 0;
      width: 18px;
      height: 20px;
      top: -4px;
      background-image: url("../images/sprite_icons_2.png");
      background-repeat: no-repeat;
      background-position: 0px -43px; }
  .footer-copr {
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    line-height: 12px; }
  .footer-mailTo {
    color: #9d0900;
    text-decoration: underline;
    font-size: 12px;
    display: inline-block;
    vertical-align: middle;
    line-height: 12px; }
    .footer-mailTo:hover {
      text-decoration: none; }

/* END - Footer*/
.right-panel {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 210px;
  position: absolute;
  right: 0;
  top: 0;
  padding: 40px 20px 0 20px;
  background-color: #f2f2f2;
  height: 100%; }
  .right-panel .b-RP-buttons {
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #dbdbdb; }
  .right-panel .box-fields__input_search {
    margin: 20px 0; }
  .right-panel .b-RP-search {
    margin: 0; }
  .right-panel .b-RP-search-adr {
    padding-right: 35px;
    position: relative; }
    .right-panel .b-RP-search-adr__p {
      width: 30px;
      height: 30px;
      display: block;
      -webkit-border-radius: 30px;
              border-radius: 30px;
      border: 1px solid #9d0900;
      color: #9d0900;
      position: absolute;
      top: 50%;
      margin-top: -15px;
      right: 0;
      cursor: default;
      cursor: pointer;
      font-size: 0;
      background-image: url("../images/sprite_icons_2.png");
      background-repeat: no-repeat;
      background-position: -70px -86px; }
      .right-panel .b-RP-search-adr__p:hover {
        -webkit-box-shadow: inset 0 0 5px 1px rgba(0, 0, 0, 0.1);
                box-shadow: inset 0 0 5px 1px rgba(0, 0, 0, 0.1); }
  .right-panel .b-RP-adress-list__l {
    margin-bottom: 30px; }
    .right-panel .b-RP-adress-list__l-i {
      font-size: 12px;
      display: block;
      margin-bottom: 10px;
      white-space: nowrap;
      overflow: hidden;
      cursor: pointer;
      text-overflow: ellipsis;
      /* Добавляем многоточие */ }
      .right-panel .b-RP-adress-list__l-i_name {
        color: #777778;
        font-size: 11px;
        font-family: "OpenSans-Italic"; }
      .right-panel .b-RP-adress-list__l-i_count {
        color: #ff0000; }
      .right-panel .b-RP-adress-list__l-i_s {
        cursor: pointer;
        display: inline-block;
        border-bottom: 1px solid transparent;
        text-overflow: ellipsis;
        max-width: 170px;
        overflow: hidden; }
        .right-panel .b-RP-adress-list__l-i_s:hover {
          color: #9d0900;
          border-color: #9d0900; }
/*стили марата для удаления аватарки*/
.box_avar__image .b-add-f-list__i-delete{
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 40px;
  height: 40px;
  border: solid 4px #fff;
  background-color: #9d0900;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  position: absolute;
  right: -14px;
  bottom: -14px; }
  .box_avar__image .b-add-f-list__i-delete:before {
    content: "";
    height: 100%;
    vertical-align: middle;
    display: inline-block; }
  .box_avar__image .b-add-f-list__i-delete:after{
    content: "";
    background-image: url("../images/sprite_icons_2.png");
    background-repeat: no-repeat;
    background-position: -22px -43px;
    vertical-align: middle;
    display: inline-block;
    width: 15px;
    height: 18px; }
  .box_avar__image .b-add-f-list__i-delete:hover{
    z-index: 1;
    -webkit-box-shadow: 0px 0px 10px -1px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 0px 10px -1px rgba(0, 0, 0, 0.3);}
/* TOOGLE - ROW - table */
.b-toogle-row {
  padding-top: 20px; }
  .b-toogle-row__tr {
    display: block;
    border: 1px solid transparent;
    border-top-color: #e5e5e5;
    font-size: 0;
    position: relative; }
    .b-toogle-row__tr:first-child {
      border-top-color: #d1d1d1; }
    .b-toogle-row__tr_close {
      display: none;
      width: 11px;
      height: 11px;
      position: absolute;
      right: 5px;
      top: 5px;
      background-image: url("/images/bg/sprite_icons_2.png");
      background-repeat: no-repeat;
      background-position: -98px -56px;
      z-index: 1;
      cursor: pointer; }
    .b-toogle-row__tr_opener {
      padding: 12px;
      border: 1px solid transparent; }
    .b-toogle-row__tr_content {
      padding: 15px 20px;
      display: none; }
    .b-toogle-row__tr.__t-on {
      border-top-color: transparent;
      border-color: #c44848;
      -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.3);
              box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.3); }
      .b-toogle-row__tr.__t-on .b-toogle-row__tr_opener {
        background-color: #f4f4f4;
        border-bottom-color: #e5e5e5; }
        .b-toogle-row__tr.__t-on .b-toogle-row__tr_opener .main-link.js-b-tgl-r__o {
          text-decoration: none;
          border-bottom: 0;
          cursor: default; }
      .b-toogle-row__tr.__t-on .b-toogle-row__tr_content {
        display: block;
        borde-top: 1px solid #e5e5e5; }
      .b-toogle-row__tr.__t-on .b-toogle-row__tr_close {
        display: block; }
    .b-toogle-row__tr_2col .b-toogle-row__td {
      width: 50%; }
  .b-toogle-row__td {
    display: inline-block;
    padding: 0 10px;
    width: 100%;
    font-size: 12px; }
    .b-toogle-row__td:first-child {
      padding-left: 0; }
/*  END - TOOGLE - ROW - table*/
/* .main-link  */
a.main-link {
  text-decoration: underline;
  color: #1b1464;
  line-height: 16px;
  display: inline-block; }
  a.main-link:hover {
    text-decoration: none; }
  a.main-link.main-link_dot {
    border-bottom: 1px dotted;
    text-decoration: none;
    cursor: pointer; }
    a.main-link.main-link_dot:hover {
      border-bottom-color: transparent; }
/* END - .main-link*/
.box_socio-list__i .b-add-f-list__i-delete {
        display: block;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        width: 40px;
        height: 40px;
        border: solid 4px #fff;
        background-color: #9d0900;
        -webkit-border-radius: 20px;
                border-radius: 20px;
        position: absolute;
        right: -14px;
        bottom: -14px; }
  .box_socio-list__i .b-add-f-list__i-delete:before {
    content: "";
    height: 100%;
    vertical-align: middle;
    display: inline-block; }
  .box_socio-list__i .b-add-f-list__i-delete:after {
    content: "";
    background-image: url("../images/sprite_icons_2.png");
    background-repeat: no-repeat;
    background-position: -22px -43px;
    vertical-align: middle;
    display: inline-block;
    width: 15px;
    height: 18px; }
  .box_socio-list__i .b-add-f-list__i-delete:hover {
    z-index: 1;
    -webkit-box-shadow: 0px 0px 10px -1px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 0px 10px -1px rgba(0, 0, 0, 0.3); }
/* style  - POPUPS */
.pUps {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 999;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 0;
  text-align: center;
  display: none;
  min-height: 500px; }
  .pUps > * {
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .pUps:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%; }
  .pUps__bg {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 100%;
    z-index: 0; }
  .pUps__w {
    width: auto;
    height: auto;
    margin: 0 auto;
    background: #fff;
    max-width: 70%;
    max-height: 70%;
    display: inline-block;
    font-size: 12px;
    vertical-align: middle;
    text-align: left;
    min-width: 835px;
    min-height: 220px;
    position: relative;
    padding: 50px;
    border-top: 3px solid #c44848;
    border-bottom: 3px solid #fe5401;
    margin-top: -200px; }
    .pUps__w:after, .pUps__w:before {
      content: "";
      position: absolute;
      width: 3px;
      height: 100%;
      top: 0;
      background: #c44848;
      background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2M0NDg0OCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZTU0MDEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c44848), color-stop(100%, #fe5401));
      background: -webkit-linear-gradient(top, #c44848 0%, #fe5401 100%);
      background: -webkit-gradient(linear, left top, left bottom, from(#c44848), to(#fe5401));
      background: linear-gradient(to bottom, #c44848 0%, #fe5401 100%);
      visibility: visible;
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c44848', endColorstr='#fe5401',GradientType=0 ); }
    .pUps__w:before {
      left: 0; }
    .pUps__w:after {
      right: 0; }
    .pUps__w.pUps__w_nX .pUps__x {
      display: none; }
  .pUps__x {
    display: block;
    position: absolute;
    font-size: 0;
    top: 15px;
    right: 18px;
    width: 11px;
    height: 11px;
    -webkit-border-radius: 2px;
            border-radius: 2px;
    text-align: center;
    line-height: 15px;
    background-image: url("../images/sprite_icons_2.png");
    background-repeat: no-repeat;
    background-position: -98px -56px;
    cursor: pointer; }
    .pUps__x:hover {
      background-position: -98px -44px; }
  .pUps__reg {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    height: 130px;
    width: 730px;
    font-size: 20px; }
  .pUps__btn {
    position: relative;
    display: inline-block;
    padding: 12px 24px;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    font-family: 'OpenSans-Bold';
    cursor: pointer;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: 2px solid transparent;
    background: #9d0900;
    text-transform: uppercase;
    min-height: 40px;
    min-width: 190px;
    text-align: center;
    margin-top: 50px;
    letter-spacing: 2px; }
    .pUps__btn:hover {
      -webkit-box-shadow: 0 0 0 0px transparent, inset 0px 0px 12px 5px rgba(0, 0, 0, 0.3);
              box-shadow: 0 0 0 0px transparent, inset 0px 0px 12px 5px rgba(0, 0, 0, 0.3); }
  .pUps__item {
    display: none; }
/* POPUP pay ORDER */
.pUps_pay {
  overflow-y: scroll;
  position: absolute; }
  .pUps_pay .pUps__bg {
    position: fixed; }
  .pUps_pay .pUps__w {
    margin-top: 40px;
    top: 0;
    margin-bottom: 40px;
    z-index: 1;
    max-height: none; }
  .pUps_pay .b-DIV-input {
    /*марат писал*/
    /*max-width: 108px;*/
    /*width: 85%;*/
    overflow: hidden; }
  .b-DIV-input.input_institution_pay
  {
    width: 85%;
  }
.pUps__item_ORDER .pUps__item-title {
  text-transform: none;
  letter-spacing: 0px; }

/* b - order*/
.b-order {
  padding-top: 20px;
  /* requisites*/
  /* requisites*/
  /* requisites*/
  /* requisites*/ }
  .b-order__alert {
    font-size: 12px;
    text-align: center; }
  .b-order table {
    background: #fff; }
    .b-order table td {
      font-size: 14px;
      text-align: left;
      padding: 2px;
      line-height: 18px; }
  .b-order table.b-order__r {
    border: 1px solid #000;
    width: 780px;
    max-width: 780px; }
  .b-order table.b-order__d {
    width: 780px;
    max-width: 780px; }
    .b-order table.b-order__d td {
      padding: 20px 0;
      vertical-align: top; }
    .b-order table.b-order__d .b-order__d-ttl {
      font-size: 20px; }
      .b-order table.b-order__d .b-order__d-ttl .b-DIV-input {
        font-size: 20px;
        line-height: 28px;
        height: 28px; }
  .b-order table.b-order__TABLE-i {
    width: 100%; }
    .b-order table.b-order__TABLE-i thead td {
      text-align: center; }
    .b-order table.b-order__TABLE-i td {
      border: 1px solid;
      height: 20px;
      padding: 2px; }
    .b-order table.b-order__TABLE-i tbody td {
      text-align: right; }
      .b-order table.b-order__TABLE-i tbody td:nth-child(1) {
        max-width: 30px; }
      .b-order table.b-order__TABLE-i tbody td:nth-child(2) {
        text-align: left; }
      .b-order table.b-order__TABLE-i tbody td:nth-child(3) {
        max-width: 80px; }
      .b-order table.b-order__TABLE-i tbody td:nth-child(4) {
        max-width: 50px; }
      .b-order table.b-order__TABLE-i tbody td:nth-child(5) {
        max-width: 85px; }
      .b-order table.b-order__TABLE-i tbody td:nth-child(6) {
        max-width: 105px; }
  .b-order .b-order__TABLE-i_result td {
    border: none !important; }
  .b-order .b-order__TABLE-i_result .b-DIV-input {
    width: 100%;
    height: 100%;
    margin-bottom: 0;
    height: auto;
    height: 20px; }
  .b-order table.b-order__TABLE-i_result-italic {
    border-bottom: 1px solid #000;
    margin-top: 10px; }
    .b-order table.b-order__TABLE-i_result-italic td {
      padding: 0; }
  .b-order table.b-order__foot {
    width: 100%; }
    .b-order table.b-order__foot tr:nth-child(2) td {
      padding: 30px 0 40px;
      font-weight: bold; }
    .b-order table.b-order__foot td {
      padding: 0 30px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      vertical-align: top; }
      .b-order table.b-order__foot td:nth-child(1) {
        width: 150px; }
      .b-order table.b-order__foot td:nth-child(2) {
        padding: 0 0 20px 0;
        text-align: right;
        border-bottom: 1px solid;
        font-size: 12px; }
      .b-order table.b-order__foot td:nth-child(3) {
        width: 85px; }
      .b-order table.b-order__foot td:nth-child(4) {
        padding: 0 0 20px 0;
        text-align: right;
        border-bottom: 1px solid;
        font-size: 12px; }
  .b-order__req-list td {
    padding: 10px 3px !important; }
  .b-order__submit {
    text-align: center; }
    .b-order__submit input {
      margin-left: 25px;
      width: 190px;
      max-width: 190px;
      font-size: 10px;
      vertical-align: top;
      margin-bottom: 10px; }
      .b-order__submit input:first-child {
        margin-left: 0;
        white-space: normal;
        padding: 0 15px;
        text-align: center; }

.b-order * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

/* END - b - order*/
/* END - POPUP pay ORDER */
/* END - style  - POPUPS */
.g-color_grey {
  color: #777778; }

/* emul input of DIV */
.b-DIV-input {
  background-color: #fff;
  border: 1px solid #d1d1d1;
  padding: 0 5px;
  display: inline-block;
  min-width: 100px;
  min-height: 20px;
  height: auto;
  margin-bottom: 10px;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
/*  .b-DIV-input input {
    display: none; }*/
.b-input-label_now-wrap {
  display: inline-block; }
  .b-input-label_now-wrap input {
    text-align: center;
    background-color: #fff;
    border: 1px solid #d1d1d1;
    padding: 0 5px;
    display: inline-block;
    min-width: 140px;
    min-height: 20px;
    height: auto;
    margin-bottom: 10px;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
/* END - emul input of DIV */
/*  END - BASIC STYLE */

#ui-datepicker-div {
  z-index: 99999999 !important;
}
