/*=============акции===================*/
.actions-list .list {
    width: 880px;
    padding: 17px 0;
    margin: 0 0 0 -50px;
    float: left;
}
.actions-list .list .item {
    width:239px;
    float:left;
    border:1px solid #ececec;
    margin:0 0px 50px 50px;
}
.actions-list .item .top {
    position: relative;
    height:149px;
}
.actions-list .item .top img {
    display: block;
}
.actions-list .item .title {
    width: 90%;
    margin: 0;
    position: absolute;
    bottom:10px;left:10px;
    line-height: 21px;
}
.actions-list .item .title a {
    color:#fff;
}
.actions-list .item .sale {
    position: absolute;
    top:-10px;right:-10px;
}                          
.actions-list .item .bottom {
    padding:15px 10px;
    font-size: 12px;
    line-height: 21px;
}
    .actions-list .item .bottom .price {
    display:block;
}
/*=============акция===================*/
.action {
    width:870px;
    float:left;
    padding:0 50px 0 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.action h2 {
    line-height: 28px;
}
.action .author {
    margin-bottom: 20px;
    color:#9d9d9d;
    font-size: 12px;
}
.action .text {
    padding: 0 0 20px 20px;
    line-height: 21px;
}
.action .text blockquote {
    margin: 20px 0 20px -20px;
}
.action .note {
    font-family:'OpenSans-Italic';
    color:#9d9d9d;
}
blockquote {
    display: block;
    margin: 20px 0;
    padding: 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family:'OpenSans-Italic';
    background: #f9f1f1;
}

.search_suggestion {
    background: #faf;
    display: block;
    position: relative;
    top: 100px;
}