@charset "UTF-8";
/* general style */
/* BOX-COMPANY */
/* BOX - AVATAR */
.box_avar {
  font-size: 0px;
  margin-bottom: 3px; }
  .box_avar__image {
    width: 195px;
    height: 250px;
    max-height: 250px;
    display: inline-block;
    border: dashed 2px #e1e1e1;
    background-color: #fff;
    position: relative;
    vertical-align: top;
    text-align: center;
    cursor: pointer; }
    .box_avar__image img {
      display: none; }
    .box_avar__image.notEmpty {
      background-color: #f2f2f2; }
      .box_avar__image.notEmpty img {
        display: inline-block;
        max-width: 100%;
        max-height: 100%;
        vertical-align: middle; }
      .box_avar__image.notEmpty:after {
        display: none  !important; }
      .box_avar__image.notEmpty:before {
        display: inline-block !important;
        vertical-align: middle !important;
        height: 100% !important;
        background: none !important;
        border: none !important;
        width: 0 !important;
        position: relative !important;
        left: auto !important;
        top: auto !important;
        margin-left: 0 !important;
        margin-top: 0 !important; }
      .box_avar__image.notEmpty:hover {
        border-color: #e1e1e1; }
    .box_avar__image:after, .box_avar__image:before {
      content: "";
      display: block;
      position: absolute;
      top: 50%; }
    .box_avar__image:after {
      content: "Загрузить";
      margin-top: 20px;
      text-transform: uppercase;
      font: 11px/11px 'OpenSans-Bold';
      left: 50%;
      margin-left: -35px;
      letter-spacing: 1px;
      color: #e1e1e1; }
    .box_avar__image:before {
      width: 44px;
      height: 44px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      border: solid 5px #e1e1e1;
      margin-top: -35px;
      -webkit-border-radius: 22px;
              border-radius: 22px;
      left: 50%;
      margin-left: -22px;
      background-image: url("../images/sprite_icons_2.png");
      background-repeat: no-repeat;
      background-position: 8px -81px; }
    .box_avar__image:hover {
      border-color: #d1d1d1; }
      .box_avar__image:hover:after {
        color: #d1d1d1; }
      .box_avar__image:hover:before {
        -webkit-box-shadow: inset 0 0 5px 1px rgba(0, 0, 0, 0.1);
                box-shadow: inset 0 0 5px 1px rgba(0, 0, 0, 0.1); }
  .box_avar__inf {
    display: inline-block;
    max-width: -webkit-calc(100% - 200px);
    max-width: calc(100% - 200px);
    width: -webkit-calc(100% - 200px);
    width: calc(100% - 200px);
    padding-left: 25px;
    max-height: 250px;
    vertical-align: top; }
    .box_avar__inf-alert {
      max-height: 190px;
      height: 190px;
      overflow: hidden;
      font-size: 12px;
      color: #777778;
      line-height: 18px;
      display: block;
      margin-bottom: 26px; }

/* END - BOX - AVATAR */
/* NEW-TARGET */
/* END - NEW-TARGET */
/* BOX - FAVORITE-TAB_STATISTIC*/
.box_favorite_main .box-fields_search {
  margin-top: 10px;
  margin-bottom: 25px; }

.b-tab-content_st {
  font-size: 0; }
  .b-tab-content_st__i {
    display: inline-block;
    width: 115px;
    height: 115px;
    clear: both;
    text-align: center;
    overflow: hidden;
    vertical-align: top;
    position: relative;
    /*margin-right: 103px;*/
    margin-right: 170px;
    overflow: hidden;
    -webkit-border-radius: 55px;
            border-radius: 55px;
    background-image: url("../images/bg/border-dotted.png");
    background-repeat: no-repeat;
    background-position: -0 0;
    background-size: cover; }
    .b-tab-content_st__i:last-child {
      margin-right: 0; }
    .b-tab-content_st__i:before {
      content: "";
      width: 100%;
      height: 52px;
      position: absolute;
      bottom: -10px;
      left: 0;
      background-image: url("../images/bg/bg-gradient.png");
      background-repeat: no-repeat;
      background-position: bottom left; }
    .b-tab-content_st__i-count {
      font-family: 'Georgia';
      color: #9d0900;
      font-size: 45px;
      line-height: 45px;
      display: block;
      margin-top: 15px;
      position: relative; }
      .b-tab-content_st__i-count:after {
        content: "";
        position: absolute;
        display: block;
        width: 5px;
        height: 5px;
        bottom: -13px;
        left: 50%;
        margin-left: -4px;
        background-image: url("../images/sprite_icons_2.png");
        background-repeat: no-repeat;
        background-position: -87px -45px; }
    .b-tab-content_st__i-desc {
      line-height: 11px;
      font-size: 10px;
      color: #000;
      text-transform: uppercase;
      display: inline-block;
      font-family: 'OpenSans-Bold';
      position: absolute;
      bottom: 25px;
      width: 100%;
      text-align: center;
      left: 0; }

/* END  --- BOX - FAVORITE-TAB_STATISTIC*/
/* BLOCK - INFO personal card */
.box_personal-card {
  font-size: 0; }
  .box_personal-card:before {
    content: "";
    height: 100%;
    clear: both;
    font-size: 14px;
    display: inline-block;
    vertical-align: top; }
  .box_personal-card .b-info {
    display: inline-block;
    vertical-align: top;
    font-size: 14px; }
    .box_personal-card .b-info-short {
      width: 130px;
      margin-right: 50px; }
      .box_personal-card .b-info-short-fields {
        padding-left: 15px; }
        .box_personal-card .b-info-short-fields__i {
          text-align: left;
          margin-bottom: 25px; }
        .box_personal-card .b-info-short-fields__avatar {
          display: block;
          width: 115px;
          height: 115px;
          -webkit-border-radius: 55px;
                  border-radius: 55px;
          border: solid 1px #e1e1e1;
          background: #f2f2f2;
          text-align: center;
          overflow: hidden;
          -webkit-box-sizing: border-box;
                  box-sizing: border-box;
          margin-left: -15px;
          margin-bottom: 10px; }
        .box_personal-card .b-info-short-fields__avatar img{width: 100%;}
        .box_personal-card .b-info-short-fields__fio {
          display: block;
          line-height: 11px;
          font-size: 11px;
          color: #000;
          text-transform: uppercase;
          font-family: 'OpenSans-Bold'; }
        .box_personal-card .b-info-short-fields__s {
          display: block; }
        .box_personal-card .b-info-short-fields__s-ttl {
          display: block;
          font-size: 12px;
          color: #777778;
          line-height: 18px; }
        .box_personal-card .b-info-short-fields__s-i {
          display: block;
          line-height: 18px;
          font-size: 12px;
          display: inline-block;
          vertical-align: middle;
          line-height: 18px; }
    .box_personal-card .b-info-all {
      width: -webkit-calc(100% - 130px - 50px);
      width: calc(100% - 130px - 50px);
      padding-top: 45px; }
      .box_personal-card .b-info-all__row {
        /*max-width: 635px;*/ }
        .box_personal-card .b-info-all__row-i {
          display: block; }
          .box_personal-card .b-info-all__row-i_fio {
            font-family: 'Georgia', sans-serif, Arial, Tahoma, Verdana, Helvetica;
            letter-spacing: 1px;
            display: block;
            -webkit-box-sizing: border-box;
                    box-sizing: border-box;
            font-size: 16px;
            text-transform: uppercase;
            margin-bottom: 5px; }
          .box_personal-card .b-info-all__row-i_desc {
            display: block;
            font-size: 11px;
            color: #777778;
            line-height: 15px; }
          .box_personal-card .b-info-all__row-i_form-elem {
            padding: 20px 0; }
            .box_personal-card .b-info-all__row-i_form-elem input {
              display: inline-block;
              vertical-align: top;
              margin-top: 0;
              margin-left: 20px; }
              .box_personal-card .b-info-all__row-i_form-elem input:first-child {
                margin-left: 0; }

/* END - BLOCK - INFO personal card */
/* 	BLOCK - maiL */
.b-filter-btn {
  margin-bottom: 20px; }
  .b-filter-btn:after {
    content: "";
    display: block;
    height: 1px; }
  .b-filter-btn__list {
    font-size: 0; }
    .b-filter-btn__list-i {
      display: inline-block;
      font-size: 11px;
      position: relative;
      vertical-align: top;
      width: 130px;
      position: relative; }
      .b-filter-btn__list-i:nth-child(2n+2) {
        width: 125px; }
      .b-filter-btn__list-i:nth-child(2n+3) {
        width: 285px;
        text-align: center; }
      .b-filter-btn__list-i:last-child {
        width: 220px;
        margin-right: 0; }
      .b-filter-btn__list-i .btn-lk_inner_contour {
        padding: 5px 25px;
        line-height: 20px; }

.b-msg {
  display: table;
  border: none; }
  .b-msg__row {
    display: table-row;
    color: #777778; }
    .b-msg__row_view .b-msg__row_inner_prew {
      display: none; }
    .b-msg__row_view .b-msg__row_inner_content {
      display: block;
      margin-top: -1px;
      margin-left: -1px; }
    .b-msg__row_new-msg .b-msg__td_title,
    .b-msg__row_new-msg .b-msg__td_content-title {
      color: #000; }
    .b-msg__row_inner_prew {
      border-bottom: 1px solid #d1d1d1; }
      .b-msg__row_inner_prew:last-child {
        border: none; }
    .b-msg__row_inner_content {
      border: 1px solid #d1d1d1;
      -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.3);
              box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.3);
      position: relative;
      display: none; }
      .b-msg__row_inner_content .b-msg__td_content {
        max-width: 430px;
        width: 430px;
        min-width: 430px; }
      .b-msg__row_inner_content .b-msg__td_title {
        color: #000; }
      .b-msg__row_inner_content .b-msg__td_date {
        width: 140px;
        min-width: 140px;
        max-width: 140px;
        padding-right: 15px !important; }
        .b-msg__row_inner_content .b-msg__td_date-time {
          color: #000;
          padding-right: 10px; }
      .b-msg__row_inner_content_main-info {
        border-bottom: 1px solid #d1d1d1;
        /*border-top: 0;*/ }
      .b-msg__row_inner_content_info {
        display: block;
        padding: 25px 15px 25px 15px;
        border-bottom: 1px solid #d1d1d1;
        /*border-top: 0;*/
        margin-top: -1px;
        color: #000; }
        .b-msg__row_inner_content_info .paragraph {
          color: #000; }
        .b-msg__row_inner_content_info .title-msg {
          margin-bottom: 25px; }
      .b-msg__row_inner_content_reward {
        display: block;
        padding: 25px 10px 25px 15px;
        border-bottom: 1px solid #d1d1d1;
        /*border-top: 0;*/
        margin-top: -1px; }
        .b-msg__row_inner_content_reward .b-reward-adr {
          font-size: 0;
          padding-bottom: 20px; }
          .b-msg__row_inner_content_reward .b-reward-adr__i {
            display: inline-block;
            font-size: 11px;
            width: 50%; }
            .b-msg__row_inner_content_reward .b-reward-adr__i_autor {
              text-align: left; }
            .b-msg__row_inner_content_reward .b-reward-adr__i_date {
              text-align: right; }
              .b-msg__row_inner_content_reward .b-reward-adr__i_date span {
                color: #000; }
        .b-msg__row_inner_content_reward .b-reward-content {
          display: block;
          color: #000; }
          .b-msg__row_inner_content_reward .b-reward-content__title {
            display: block;
            padding-bottom: 5px; }
          .b-msg__row_inner_content_reward .b-reward-content .paragraph {
            margin-bottom: 0;
            margin-top: 15px; }
            .b-msg__row_inner_content_reward .b-reward-content .paragraph:nth-child(2n) {
              margin-top: 0px; }
      .b-msg__row_inner_content__close {
        display: block;
        width: 11px;
        height: 11px;
        position: absolute;
        right: 5px;
        top: 5px;
        background-image: url("../images/sprite_icons_2.png");
        background-repeat: no-repeat;
        background-position: -98px -56px;
        z-index: 1;
        cursor: pointer; }
        .b-msg__row_inner_content__close:hover {
          background-position: -98px -44px; }
  .b-msg__td {
    display: table-cell;
    white-space: nowrap;
    overflow: hidden;
    padding-right: 15px;
    text-overflow: ellipsis;
    font-size: 12px;
    padding: 25px 0;
    /*padding: 25px 0;*/
    /*border-bottom: 1px solid #d1d1d1;*/ }
    .b-msg__td:last-child {
      padding-right: 15px; }
    .b-msg__td_fav {
      padding-right: 8px;
      padding-left: 15px;
      /*width: 18px;
				max-width: 18px;
				min-width: 18px;*/
      width: 33px;
      max-width: 33px;
      min-width: 33px; }
    .b-msg__td_title {
      width: 150px;
      max-width: 150px;
      min-width: 150px;
      text-transform: uppercase;
      font-family: 'OpenSans-Bold';
      letter-spacing: 0;
      /*color: #000;*/ }
    .b-msg__td_content {
      max-width: 470px;
      width: 470px;}
    .b-msg__td_date {
      width: 140px;
      text-align: right;
      padding-left: 10px; }
  .b-msg-img-list {
    font-size: 0;
    margin-bottom: 15px; }
    .b-msg-img-list__i {
      display: inline-block;
      padding-right: 30px; }
    .b-msg-img-list__img {
      display: block;
      text-align: center;
      margin-bottom: 10px;
      height: 150px;
      max-height: 150px;
      overflow: hidden;
      -webkit-border-radius: 4px;
              border-radius: 4px;
      background-color: #f2f2f2; }
      .b-msg-img-list__img:before {
        content: "";
        display: inline-block;
        height: 100%;
        vertical-align: middle; }
      .b-msg-img-list__img img {
        max-width: 100%;
        max-height: 100%;
        vertical-align: middle;
        display: inline-block;
        vertical-align: middle; }
    .b-msg-img-list__title {
      display: block;
      font-size: 11px;
      font-family: "OpenSans-Italic";
      line-height: 12px;
      margin-bottom: 5px; }
    .b-msg-img-list__size {
      display: block;
      font-size: 11px;
      font-family: "OpenSans-Italic";
      color: #777778;
      line-height: 12px; }
  .b-msg-operation__i {
    display: inline-block;
    margin-left: 13px;
    text-transform: uppercase;
    position: relative;
    font-size: 11px;
    line-height: 11px;
    font-family: 'OpenSans-Bold';
    cursor: pointer; }
    .b-msg-operation__i:hover {
      color: #9d0900; }
    .b-msg-operation__i:first-child {
      margin-left: 0; }
    .b-msg-operation__i_rew {
      padding-left: 23px; }
      .b-msg-operation__i_rew:after {
        content: "";
        display: block;
        width: 18px;
        height: 18px;
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -9px;
        background-image: url("../images/sprite_icons_2.png");
        background-repeat: no-repeat;
        background-position: 0px 0px;
        background-position: -51px -116px; }
      .b-msg-operation__i_rew:hover:after {
        background-position: -51px -141px; }
    .b-msg-operation__i_rep {
      padding-left: 23px; }
      .b-msg-operation__i_rep:after {
        content: "";
        display: block;
        width: 18px;
        height: 18px;
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -9px;
        background-image: url("../images/sprite_icons_2.png");
        background-repeat: no-repeat;
        background-position: -76px -116px; }
      .b-msg-operation__i_rep:hover:after {
        background-position: -76px -141px; }
    .b-msg-operation__i_file {
      padding-left: 16px; }
      .b-msg-operation__i_file:after {
        content: "";
        display: block;
        width: 11px;
        height: 20px;
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -10px;
        background-image: url("../images/sprite_icons_2.png");
        background-repeat: no-repeat;
        background-position: -104px -115px; }
      .b-msg-operation__i_file:hover:after {
        background-position: -104px -140px; }
    .b-msg-operation__i_del {
      padding-left: 23px; }
      .b-msg-operation__i_del:after {
        content: "";
        display: block;
        width: 18px;
        height: 18px;
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -9px;
        background-image: url("../images/sprite_icons_2.png");
        background-repeat: no-repeat;
        background-position: -126px -116px; }
      .b-msg-operation__i_del:hover:after {
        background-position: -126px -141px; }

/*	END - BLOCK - mail*/
/* BLOCK aim */
.box-aim .b-msg__td_content {
  max-width: 580px;
  width: 580px; }

.box-aim .b-msg__td_title,
.box-aim .b-msg__td_content-title {
  color: #000; }

.box-aim .b-msg-operation {
  text-align: center; }

.box-aim .box-msg {
  margin-top: 10px; }

/* END - BLOCK aim */
/* BLOCK = new msg */
.box_new-msg .box-fields__input_new-target {
  max-height: 185px;
  height: 185px;
  min-height: 185px; }

/* END - block new-msg*/
/* block - work graph*/
.b-nav-calend {
  text-align: center;
  margin-top: 35px;
  margin-bottom: 55px;
  position: relative; }
  .b-nav-calend__dweek {
    display: inline-block; }
    .b-nav-calend__dweek .btn-lk {
      margin-left: 40px;
      width: 100px;
      color: #777778;
      border-color: #777778;
      text-align: center; }
      .b-nav-calend__dweek .btn-lk.b-nav-calend__dweek_active {
        color: #9d0900;
        border-color: #9d0900; }
      .b-nav-calend__dweek .btn-lk:first-child {
        margin-left: 0; }
  .b-nav-calend__crsl {
    width: 35px;
    height: 33px;
    position: absolute;
    color: #777778;
    border: 1px solid;
    border-color: #777778;
    display: block; }
    .b-nav-calend__crsl a {
      display: block;
      width: 100%;
      height: 100%; }
    .b-nav-calend__crsl:hover {
      color: #9d0900;
      border-color: #9d0900; }
    .b-nav-calend__crsl_prew {
      left: 0;
      top: 0;
      -webkit-border-bottom-left-radius: 20px;
              border-bottom-left-radius: 20px;
      -webkit-border-top-left-radius: 20px;
              border-top-left-radius: 20px; }
      .b-nav-calend__crsl_prew:after {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        margin-top: -4px;
        width: 11px;
        height: 8px;
        background-image: url("../images/sprite_icons_2.png");
        background-repeat: no-repeat;
        background-position: -113px -45px;
        right: 50%;
        margin-right: -8px; }
      .b-nav-calend__crsl_prew:hover:after {
        background-position: -113px -57px; }
    .b-nav-calend__crsl_next {
      right: 0;
      top: 0;
      -webkit-border-bottom-right-radius: 20px;
              border-bottom-right-radius: 20px;
      -webkit-border-top-right-radius: 20px;
              border-top-right-radius: 20px; }
      .b-nav-calend__crsl_next:after {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        margin-top: -4px;
        width: 11px;
        height: 8px;
        background-image: url("../images/sprite_icons_2.png");
        background-repeat: no-repeat;
        background-position: -125px -45px;
        left: 50%;
        margin-left: -8px; }
      .b-nav-calend__crsl_next:hover:after {
        background-position: -125px -57px; }

.b-calend {
  font-size: 0; }
  .b-calend-reg {
    position: relative; }
    .b-calend-reg .b-calend__event_content {
      left: 0;
      margin-left: 0;
      display: block;
      visibility: hidden;
      border-top: transparent; }
      .b-calend-reg .b-calend__event_content_active {
        visibility: visible; }
      .b-calend-reg .b-calend__event_content-top-hr {
        background-color: #9d0900;
        height: 1px;
        border: none;
        margin: -15px -19px 16px; }
      .b-calend-reg .b-calend__event_content-bottom-hr {
        background-color: transparent;
        height: 1px;
        border: none;
        margin: 16px -19px -15px; }
      .b-calend-reg .b-calend__event_content.__revert {
        border-bottom: transparent;
        border-top: 1px solid #9d0900; }
        .b-calend-reg .b-calend__event_content.__revert .b-calend__event_content-top-hr {
          background-color: transparent; }
        .b-calend-reg .b-calend__event_content.__revert .b-calend__event_content-bottom-hr {
          background-color: #9d0900; }
        .b-calend-reg .b-calend__event_content.__revert .b-calend-e__arr {
          top: auto;
          bottom: -1px;
          width: 16px;
          margin-left: -9px; }
  .b-calend__days {
    font-size: 0;
    padding: 1px; }
    .b-calend__days_i {
      display: inline-block;
      width: 139px;
      height: 139px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      border: 1px solid #777778;
      margin-left: -1px;
      margin-top: -1px;
      padding: 5px;
      font-size: 12px;
      vertical-align: top;
      overflow: hidden;}
      .b-calend__days_i:hover {
        background-color: #f2f2f2; }
  .b-calend__date {
    clear: both;
    padding-left: 10px; }
    .b-calend__date_numb {
      font-family: 'OpenSans-Bold'; }
    .b-calend__date_dw {
      color: #777778;
      display: none; }
    .b-calend__date_new-month .b-calend__date_dw {
      display: inline-block; }
    .b-calend__date_now .b-calend__date_numb {
      color: #ff0000; }
  .b-calend__event {
    position: relative;
    margin-top: 7px; }
    .b-calend__event_active:before {
      content: "";
      width: 18px;
      height: 9px;
      position: absolute;
      background-image: url("../images/pop_ar.png");
      background-repeat: no-repeat;
      background-position: 0 0;
      top: 19px;
      left: 50%;
      margin-left: -9px;
      z-index: 2;
      visibility: visible; }
    .b-calend__event_active-revert:before {
      background-image: url("../images/pop_ar-d.png") !important;
      top: -5px; }
    .b-calend__event_active .b-calend-e {
      display: block; }
    .b-calend__event_active .b-calend__event_prew {
      background: #9d0900;
      color: #fff;
      font-weight: bold; }
    .b-calend__event_prew {
      display: block;
      width: 100%;
      font-size: 12px;
      color: #9d0900;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      border: 1px solid #9d0900;
      padding: 5px;
      padding: 2px 5px;
      line-height: 16px;
      -webkit-border-radius: 2px;
              border-radius: 2px;
      text-align: center;
      cursor: pointer;
      background-color: #fff; }
      .b-calend__event_prew:hover {
        background: #9d0900;
        color: #fff;
        font-weight: bold; }
    .b-calend__event_content {
      width: 570px;
      border: 1px solid #9d0900;
      padding: 15px 18px;
      position: absolute;
      z-index: 1;
      max-height: 280px;
      overflow: hidden; }
  .b-calend-e {
    background-color: #fff;
    top: 27px;
    left: 50%;
    margin-left: -270px;
    display: none; }
    .b-calend-e__title {
      font-size: 16px;
      font-family: "open-sans-semibold"; }
    .b-calend-e__time {
      font-size: 0;
      margin: 25px 0; }
      .b-calend-e__time_i {
        font-size: 12px;
        color: #777778;
        display: inline-block;
        margin-left: 30px;
        line-height: 20px; }
        .b-calend-e__time_i:first-child {
          margin-left: 0; }
        .b-calend-e__time_i span {
          color: #000; }
    .b-calend-e .paragraph {
      color: #000;
      line-height: 20px;
      max-height: 120px;
      overflow: hidden; }
    .b-calend-e__arr {
      width: 14px;
      height: 9px;
      display: block;
      position: absolute;
      background-color: #fff;
      top: -7px;
      z-index: 1;
      margin-left: -8px; }
  .b-calend__one-days, .b-calend__weeks {
    padding-top: 1px; }
  .b-calend__hours-row {
    display: block;
    padding-left: 50px;
    position: relative;
    border: 1px solid #777778;
    margin-top: -1px;
    padding-bottom: 7px;
    /*max-height: 67px;*/
    min-height: 42px;
    font-size: 0; }
    .b-calend__hours-row:before {
      content: "";
      width: 30px;
      position: absolute;
      height: 100%; }
    .b-calend__hours-row .b-calend__event {
      margin-right: 5px;
      display: inline-block;
      width: 178px; }
    .b-calend__hours-row_h {
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      width: 40px;
      font-size: 12px;
      height: 100%;
      padding-top: 7px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      padding-left: 5px;
      background-color: #f6f6f6; }
    .b-calend__hours-row .b-calend__event .b-calend__event_content {
      margin-left: -272px; }
    .b-calend__hours-row._dw {
      border: none; }
      .b-calend__hours-row._dw .b-calend__day {
        border: none;
        text-align: center; }
  .b-calend__day {
    display: table-cell;
    width: 132px;
    overflow: hidden;
    padding: 5px 5px 7px;
    vertical-align: top;
    font-size: 12px;
    border-right: 1px solid #777778;
    min-width: 132px;
    max-width: 132px;
    overflow: hidden;
    min-height: 42px;
    height: 42px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    .b-calend__day:last-child {
      border-right: none; }
    .b-calend__day:hover {
      background-color: #f2f2f2; }
    .b-calend__day .b-calend__event {
      width: 100%; }
  .b-calend__weeks .b-calend__hours-row {
    padding-bottom: 0;
    padding-left: 44px; }
    .b-calend__weeks .b-calend__hours-row_h {
      width: 44px; }
  .b-calend__weeks ._dw .b-calend__day:hover {
    background-color: transparent !important; }
  .b-calend__weeks ._dw_now {
    font-weight: bold;
    color: #ff0000; }

/* END -work graph */
/* page - reviews */
.b-reviews .b-info-all__row:first-child {
  min-height: 70px;
  max-height: 70px;
  overflow: hidden;
  height: 70px;
  margin-bottom: 10px; }
  .b-reviews .b-info-all__row.detail-spec:first-child {
  min-height: 100px;
  max-height: 100px;
  overflow: hidden;
  height: 100px;
  margin-bottom: 10px; }
.reviews-list {
  margin: 40px 0; }
  .reviews-list__i {
    display: block;
    height: auto;
    font-size: 0;
    margin-bottom: 45px; }
    .reviews-list__i:last-child {
      margin-bottom: 0; }
    .reviews-list__i-ava {
      display: inline-block;
      width: 110px;
      max-width: 110px;
      font-size: 12px;
      line-height: 16px;
      vertical-align: top;
      text-align: center; }
      .reviews-list__i-ava-img {
        width: 50px;
        height: 50px;
        clear: both;
        -webkit-border-radius: 40px;
                border-radius: 40px;
        border: 2px solid #9d0900;
        display: inline-block;
        margin: 0 auto;
        overflow: hidden;
        margin: 0 30px 0 auto;
        text-align: center;
        font-size: 0;
        background-color: #f2f2f2; }
        .reviews-list__i-ava-img:before {
          content: "";
          display: inline-block;
          height: 100%;
          vertical-align: middle; }
        .reviews-list__i-ava-img img {
          display: inline-block;
          max-width: 100%;
          max-height: 100%;
          vertical-align: middle; }
        .reviews-list__i-ava-img.__def {
          background-image: url("../images/bg/def-ava.png");
          background-repeat: no-repeat;
          background-position: center center;
          border-color: #8f9bbe;
          background-color: transparent; }
          .reviews-list__i-ava-img.__def img {
            display: none; }
      .reviews-list__i-ava-nickname {
        display: block;
        text-align: center;
        padding-right: 30px; }
    .reviews-list__i-txt {
      width: 680px;
      max-width: 680px;
      display: inline-block;
      vertical-align: top; }
      .reviews-list__i-txt_p {
        font-size: 12px;
        line-height: 16px;
        overflow: hidden;
        position: relative; }
      .reviews-list__i-txt_p-cover {
        margin: 10px 0; }
    .reviews-list__i-date {
      display: block;
      font-size: 12px;
      color: #777778;
      line-height: 18px; }
    .reviews-list__i-view-more {
      display: inline-block;
      font-size: 12px;
      color: #9d0900;
      line-height: 18px;
      clear: both;
      border-bottom: 1px dotted #9d0900;
      visibility: hidden; }
      .reviews-list__i-view-more:hover {
        border-color: transparent; }

/*js parth*/
.js-reviews-ldr {
  display: block;
  position: relative; }
  .js-reviews-ldr:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /*background: rgba(255,255,255,0.7);*/
    background-color: #f1f1f1;
    background-image: url("../i/pldr60.gif");
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 1; }
  .js-reviews-ldr.__off:after {
    display: none; }

.js-reviews .js-reviews__P-cover {
  max-height: none;
  height: auto; }

.js-reviews .js-reviews__VM {
  height: 0;
  visibility: hidden; }

.js-reviews .js-reviews__P {
  text-align: justify; }

.js-reviews.__enabled .js-reviews__P-cover {
  max-height: 80px;
  overflow: hidden;
  position: relative; }
  .js-reviews.__enabled .js-reviews__P-cover br {
    display: none; }
  .js-reviews.__enabled .js-reviews__P-cover:after {
    content: "...";
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 12px;
    line-height: 18px;
    display: inline-block;
    background: #fff;
    margin-left: -15px;
    width: auto;
    text-align: left;
    padding-left: 4px; }

.js-reviews.__enabled .js-reviews__P {
  text-align: justify; }

.js-reviews.__enabled .js-reviews__VM {
  height: auto;
  visibility: visible;
  cursor: pointer; }

/* END - page -reviews */
/* PATIENTS - page */
.box-w50 {
  font-size: 0; }
  .box-w50__1 {
    display: inline-block;
    width: 50%; }
  .box-w50__2 {
    display: inline-block;
    width: 50%; }

/* END - PATIENTS - page */
/* branches- page*/
.b-branches__text {
  display: inline-block;
  vertical-align: middle; }

.b-branches__nav {
  text-align: right; }
  .b-branches__nav-i {
    display: inline-block;
    margin-left: 18px;
    vertical-align: middle; }
    .b-branches__nav-i_ico {
      width: 28px;
      height: 28px;
      padding-left: 0; }
      .b-branches__nav-i_ico-map {
        width: 26px;
        height: 26px;
        background-image: url("/images/bg/sprite_icons_2.png");
        background-repeat: no-repeat;
        background-position: -210px -47px; }
    .b-branches__nav-i_edit {
      padding-left: 20px;
      position: relative; }
      .b-branches__nav-i_edit:before {
        content: "";
        width: 15px;
        height: 14px;
        left: 0;
        top: 0;
        position: absolute;
        background-image: url("/images/bg/sprite_icons_2.png");
        background-repeat: no-repeat;
        background-position: -188px -47px; }
    .b-branches__nav-i_del {
      padding-left: 20px;
      position: relative; }
      .b-branches__nav-i_del:before {
        content: "";
        width: 16px;
        height: 16px;
        left: 0;
        top: 0;
        position: absolute;
        background-image: url("/images/bg/sprite_icons_2.png");
        background-repeat: no-repeat;
        background-position: -210px -47px; }

.b-branches__info {
  font-size: 0;
  text-align: justify;
  margin: -10px 0; }
  .b-branches__info-i {
    font-size: 12px;
    line-height: 14px;
    display: inline-block;
    margin-right: 90px;
    vertical-align: middle;
    padding-top: 10px;
    padding-bottom: 10px; }
    .b-branches__info-i.marat-height{
      height: 90px;}
    .b-branches__info-i-title {
      display: table-cell;
      color: #777778; }
    .b-branches__info-i-txt {
      display: table-cell;
      padding-left: 20px; }
      .b-branches__info-i-txt_metro:before {
        content: "M";
        width: 20px;
        height: 20px;
        background-color: #c44848;
        line-height: 20px;
        text-align: center;
        display: inline-block;
        margin-right: 7px;
        -webkit-border-radius: 50%;
                border-radius: 50%;
        color: #fff;
        font-size: 9px; }
/* end - branches - page*/
.js-select.specialist {
  text-transform: none;
  font-size: 14px;
  white-space: nowrap;
  width: 445px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'OpenSans' !important;
  cursor: pointer;
  line-height: 20px; 
  border: 1px solid #d1d1d1;
  -webkit-border-radius: 4px;
          border-radius: 4px;}
  .js-select.specialist.opened .jq-selectbox__select {
    text-align: left;
    border-bottom: none; }
    .js-select.specialist.opened .jq-selectbox__select-text {
      color: black; }
    .js-select.specialist.opened .jq-selectbox__select:after {
      border-top: 5px solid transparent;
      border-bottom: 5px solid black;
      margin-top: -9px; }
  .js-select.specialist .jq-selectbox__select {
    text-align: center;
    border: 1px solid transparent;
    padding: 5px 20px 5px 10px;
    text-align: left;
    height: 32px; }
    .js-select.specialist .jq-selectbox__select:after {
      content: "";
      display: block;
      border: 5px solid transparent;
      border-top: 5px solid black;
      width: 0px;
      position: absolute;
      right: 10px;
      top: 50%;
      margin-top: -3px; }
    .js-select.specialist .jq-selectbox__select-text {
      color: black;
      margin: 0 auto;
      overflow: hidden;
    }
  .js-select.specialist .jq-selectbox__dropdown {
    width: 445px !important;
    white-space: nowrap;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 5px 20px 5px 10px;
    background-color: #fff;
    border: 1px solid #d1d1d1;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    -webkit-border-top-left-radius: 0px;
            border-top-left-radius: 0px;
    -webkit-border-top-right-radius: 0px;
            border-top-right-radius: 0px;
    left: -1px;
    text-align: left;
    margin-top: -2px; }
    .js-select.specialist .jq-selectbox__dropdown ul {
      overflow: hidden !important;
      display: inline-block;
      text-align: left; }
    .js-select.specialist .jq-selectbox__dropdown li {
      color: black;
      height: 32px;
      overflow: hidden;
    }
      .js-select.specialist .jq-selectbox__dropdown li:hover {
        color: black; }
.b-filter-btn__list-i.specialist{
  display: inline-block;
  font-size: 11px;
  position: relative;
  vertical-align: top;
  width: 130px;
  position: relative; }
  .b-filter-btn__list-i.specialist:nth-child(2n+2) {
    width: 125px; }
  .b-filter-btn__list-i.specialist:nth-child(2n+3) {
    width: 285px;
    text-align: center; }
  .b-filter-btn__list-i.specialist:last-child {
    width: 220px;
    margin-right: 0; }
  .b-filter-btn__list-i.specialist .btn-lk_inner_contour {
    padding: 5px 25px;
    line-height: 20px; }
/* PAGE - PAY */
.b-table-price__period {
  color: #777778;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #e5e5e5; }
  .b-table-price__period .title {
    color: #000;
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 0; }
.b-table-price__info {
  padding-bottom: 30px;
  font-size: 14px; }
.b-table-price__alert {
  color: #c44848;
  font-size: 14px;
  line-height: 18px; }
.b-table_pay {
  /* b-faq */
  /* END - b-faq */ }
  .b-table_pay table tbody tr td, .b-table_pay table thead tr td {
    padding: 15px 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-size: 12px;
    line-height: 18px;
    vertical-align: middle; }
    .b-table_pay table tbody tr td:first-child, .b-table_pay table thead tr td:first-child {
      padding-left: 15px;
      max-width: 18%;
      width: 18%; }
    .b-table_pay table tbody tr td:nth-child(2), .b-table_pay table thead tr td:nth-child(2) {
      width: 30%;
      max-width: 30%; }
    .b-table_pay table tbody tr td:last-child, .b-table_pay table thead tr td:last-child {
      max-width: 40px;
      width: 40px;
      padding: 15px 8px; }
    .b-table_pay table tbody tr td.b-table_pay__hasInner, .b-table_pay table thead tr td.b-table_pay__hasInner {
      padding: 0; }
      .b-table_pay table tbody tr td.b-table_pay__hasInner tr, .b-table_pay table thead tr td.b-table_pay__hasInner tr {
        border-bottom: none; }
      .b-table_pay table tbody tr td.b-table_pay__hasInner td, .b-table_pay table thead tr td.b-table_pay__hasInner td {
        padding: 8px;
        color: #777778;
        line-height: 22px; }
        .b-table_pay table tbody tr td.b-table_pay__hasInner td:first-child, .b-table_pay table thead tr td.b-table_pay__hasInner td:first-child {
          font-weight: normal;
          vertical-align: middle; }
        .b-table_pay table tbody tr td.b-table_pay__hasInner td:nth-child(2), .b-table_pay table thead tr td.b-table_pay__hasInner td:nth-child(2) {
          vertical-align: middle; }
        .b-table_pay table tbody tr td.b-table_pay__hasInner td:last-child, .b-table_pay table thead tr td.b-table_pay__hasInner td:last-child {
          max-width: auto;
          width: auto;
          padding: 8px;
          max-width: 105px;
          width: 105px; }
  .b-table_pay table thead {
    background: #f4f4f4;
    border-bottom: 2px solid #e5e5e5; }
    .b-table_pay table thead tr td {
      line-height: 14px;
      color: #777778; }
      .b-table_pay table thead tr td.b-table_pay__hasInner {
        padding: 15px 0; }
      .b-table_pay table thead tr td:first-child {
        width: 100px;
        max-width: 100px; }
      .b-table_pay table thead tr td:nth-child(2) {
        width: 120px;
        max-width: 120px; }
  .b-table_pay table tbody tr td:first-child {
    font-weight: bold;
    vertical-align: top; }
  .b-table_pay table tbody tr td:nth-child(2) {
    vertical-align: top; }
  .b-table_pay table tbody tr td:last-child {
    border-bottom: none; }
  .b-table_pay table tbody tr td.b-table_pay__hasInner td:first-child {
    color: #000;
    width: 25%;
    max-width: 25%; }
  .b-table_pay table tbody tr td.b-table_pay__hasInner td:nth-child(2) {
    width: 22%;
    max-width: 22%; }
  .b-table_pay table tbody tr td.b-table_pay__hasInner td:nth-child(3) {
    width: 28%;
    max-width: 28%; }
  .b-table_pay table tbody tr td.b-table_pay__hasInner td:last-child {
    width: 25%;
    max-width: 25%; }
  .b-table_pay table tbody tr:last-child {
    border-bottom: none; }
  .b-table_pay table tfoot {
    border: 1px solid #c44848;
    -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.3); }
  .b-table_pay__inner {
    margin: 0; }
  .b-table_pay .b-table__major-i {
    display: block;
    font-size: 13px; }
    .b-table_pay .b-table__major-i-dib {
      display: inline-block;
      font-size: 14px;
      margin-right: 3px;
      color: #c44848; }
  .b-table_pay__hasInner table tr:nth-child(2n) {
    background: #f4f4f4; }
  .b-table_pay .b-table_pay__footer-contact {
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-size: 0; }
    .b-table_pay .b-table_pay__footer-contact:before {
      display: inline-block;
      vertical-align: middle;
      height: 100%; }
    .b-table_pay .b-table_pay__footer-contact li {
      display: inline-block;
      padding: 0;
      margin: 0;
      padding: 15px 20px;
      font-size: 14px;
      width: 33.3333%;
      text-align: center;
      vertical-align: middle;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      line-height: 18px; }
      .b-table_pay .b-table_pay__footer-contact li:first-child {
        text-align: left;
        font-size: 12px; }
      .b-table_pay .b-table_pay__footer-contact li:last-child {
        text-align: right;
        font-size: 12px; }
      .b-table_pay .b-table_pay__footer-contact li a {
        color: #1b1464;
        text-transform: none; }
  .b-table_pay__b-faq {
    position: relative; }
    .b-table_pay__b-faq.___active .b-table_pay__faq {
      z-index: 3;
      font-size: 0; }
      .b-table_pay__b-faq.___active .b-table_pay__faq:after {
        content: "X";
        font-size: 12px;
        display: inline-block; }
  .b-table_pay__faq {
    display: inline-block;
    width: 24px;
    height: 24px;
    color: #c44848;
    border: 2px solid #c44848;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    line-height: 19px;
    font-size: 15px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    z-index: 1;
    -ms-user-select: none;
        user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none; }
    .b-table_pay__faq-i {
      width: 210px;
      max-width: 210px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      border: 2px solid #c44848;
      position: absolute;
      display: none;
      right: 0;
      top: 0;
      background: #fff;
      z-index: 2;
      -webkit-border-radius: 4px;
              border-radius: 4px;
      -webkit-border-top-right-radius: 12px;
              border-top-right-radius: 12px;
      padding: 10px 24px 10px 10px;
      opacity: 0; }
.b-order__submit input {
  margin-top: 0px; }
/* END - PAGE - PAY */