.popSubwayBlock *, .popSubwayBlock *:before, .popSubwayBlock *:after {box-sizing: border-box;}
.subway .fancybox-skin {background:#fff;}
.popSubwayBlock {
	background:#fff;
}
.popSubwayBlock .left {float:left;}
.popSubwayBlock .right {float:right;}
.subwayPopUpMap_metro_block {
	font-family:Arial, Helvetica, sans-serif;
	background: white;
}
.popSubwayBlock  .clearfix:after  {visibility: hidden; display: table; content: " "; clear: both; height: 0; line-height: 0;}
.subwayPopUpMap_metro_header {
	font-family:Arial, Helvetica, sans-serif
}
.text-center {text-align:center;}
.subwayPopUpMap_metro_block a {color: #000; text-decoration: underline;}
.subwayPopUpMap_metro_block img {vertical-align:middle}
.subwayPopUpMap_metro_block a:hover, .metro_block a:focus {color: #000; text-decoration: none;}
.subwayPopUpMap_metro_images {
    position: relative;
    width: 877px;
}
	.subwayPopUpMap_metro_stores {
		display: block;
		height: 100%;
		/*
		position: absolute;*/
		
	}
	.subwayPopUpMap_checkbox {
		position: absolute;
		
	}
		.subwayPopUpMap_checkbox span {
			display:none
		}
	.subwayPopUpMap_checkbox i {
		background: none repeat scroll 0 0 #fff;
		border: 4px solid #007a7f;
		border-radius: 50%;
		height: 14px;
		margin: -1px;
		transition: none 0s ease 0s ;
		width: 14px;
		z-index: 2;
		cursor:pointer;
		display: block; 
	}
		.subwayPopUpMap_checkbox i.checked {
			background:#007a7f;
			width:16px;
			height:16px;
			margin:-2px 0 0 -2px;
			border-color:#007a7f
		}
		.subwayPopUpMap_checkbox i:hover {
			width:16px;
			height:16px;
			margin:-2px 0 0 -2px
		}
		.subwayPopUpMap_checkbox input {
			position:absolute;
			display:none		
		}
.red i {
	border: 4px solid #f6928d;
}
	.red i.checked {
			background:#f6928d
		}
.green i {
	border: 4px solid #a4dcae;
}
	.green i.checked {
			background:#a4dcae
		}
.l-blue i {
	border: 4px solid #8ce0f9;
}
	.l-blue i.checked {
			background:#8ce0f9
		}

.blue  i {
	border: 4px solid #7ab9de;
}
	.blue  i.checked {
			background:#7ab9de
		}
.braun i {
	border: 4px solid #c3a69a;
}
	.braun i.checked {
			background:#c3a69a
		}
		
.orange i {
	border: 4px solid #fac098;
}
	.orange i.checked {
			background:#fac098
		}
.purple i {
	border: 4px solid #c6a2cd;
}
	.purple i.checked {
			background:#c6a2cd
		}
		
.yellow i {
	border: 4px solid #ffe496;
}
	.yellow i.checked {
			background:#ffe496
		}
		
		
.grey i {
	border: 4px solid #d0d0d1;
}
	.grey  i.checked {
			background:#d0d0d1
		}
.lime i {
	border: 4px solid #d9e9a2;
}
	.lime i.checked {
			background:#d9e9a2
		}
.lazure i {
	border: 4px solid #bbe5e6;
}
	.lazure i.checked {
			background:#bbe5e6
		}
.l-purple i {
	border: 4px solid #d5dff1;
}
	.l-purple i.checked {
			background:#d5dff1
		}
.l-blue2  i {
	border: 4px solid #b9e7e7;
}
	.l-blue2  i.checked {
			background:#b9e7e7
		}

.subwayPopUpMap_filter {
	position:absolute;
	z-index:3
}
.subwayPopUpMap_filter a {
	text-decoration:none;
	font-weight:bold;
	font-size:12px
}
	
	.subwayPopUpMap_filter a:after {
		content:"";
		position:absolute;
		width:10px;
		height:10px;
		border:4px solid #7ab9de;
		border-radius:50%;
		margin:20px 0 0 -8px
	}
	.subwayPopUpMap_filter .checked:after {
		background:#007a7f;
		border-color:#007a7f!important;	
	}
#sokolnicheskaya_right {
	position:absolute;
	top:70px;
	left:664px;
	z-index:2;
	color:#f6928d;
	
}
	#sokolnicheskaya_right:after {
		border-color:#f6928d
	}
#sokolnicheskaya_left {
	position:absolute;
	top:754px;
	left:209px;
	z-index:2;
	color:#f6928d;
	
}
	#sokolnicheskaya_left:after {
		border-color:#f6928d
	}
#zamoskvoreckaya_left {
	position:absolute;
	top:71px;
	left:237px;
	z-index:2;
	color:#a4dcae;
	
}
	#zamoskvoreckaya_left:after {
		border-color:#a4dcae
	}
#zamoskvoreckaya_right {
	position:absolute;
	top:916px;
	left:730px;
	z-index:2;
	color:#a4dcae;
	
}
	#zamoskvoreckaya_right:after {
		border-color:#a4dcae
	}
	
#arbatsko-pokrovskaya_right {
	position:absolute;
	top:97px;
	left:769px;
	z-index:2;
	color:#7ab9de;
	
}
	#arbatsko-pokrovskaya_right:after {
		border-color:#7ab9de
	}
#arbatsko-pokrovskaya_left {
	position:absolute;
	top:98px;
	left:26px;
	z-index:2;
	color:#7ab9de;
	
}
	#arbatsko-pokrovskaya_left:after {
		border-color:#7ab9de
	}
	
#filevskaya_left {
	position:absolute;
	top:292px;
	left:10px;
	z-index:2;
	color:#8ce0f9;
	
}
	#filevskaya_left:after {
		border-color:#8ce0f9
	}

#kalujsko-rijskaya_top {
	position:absolute;
	top:-28px;
	left:559px;
	z-index:2;
	color:#fac098;
	
}
	#kalujsko-rijskaya_top:after {
		border-color:#fac098
	}
#kalujsko-rijskaya_bottom {
	position:absolute;
	top:877px;
	left:309px;
	z-index:2;
	color:#fac098;
	
}
	#kalujsko-rijskaya_bottom:after {
		border-color:#fac098
	}
#tagansko-krasnopresnenskaya_left {
	position:absolute;
	top:69px;
	left:132px;
	z-index:2;
	color:#c6a2cd;
	
}
	#tagansko-krasnopresnenskaya_left:after {
		border-color:#c6a2cd
	}
#tagansko-krasnopresnenskaya_right {
	position:absolute;
	top:813px;
	left:770px;
	z-index:2;
	color:#c6a2cd;
	
}
	#tagansko-krasnopresnenskaya_right:after {
		border-color:#c6a2cd
	}
#kalininskaya_left {
	position:absolute;
	top:368px;
	left:140px;
	z-index:2;
	color:#ffe496;
	
}
	#kalininskaya_left:after {
		border-color:#ffe496
	}
#kalininskaya_right {
	position:absolute;
	top:341px;
	left:754px;
	z-index:2;
	color:#ffe496;
	
}
	#kalininskaya_right:after {
		border-color:#ffe496
	}
	

#serpuxovsko-timiryazevskaya_top {
	position:absolute;
	top:-28px;
	left:342px;
	z-index:2;
	color:#d0d0d1;
	
}
	#serpuxovsko-timiryazevskaya_top:after {
		border-color:#d0d0d1
	}
#serpuxovsko-timiryazevskaya_bottom {
	position:absolute;
	top:948px;
	left:441px;
	z-index:2;
	color:#d0d0d1;
	
}
	#serpuxovsko-timiryazevskaya_bottom:after {
		border-color:#d0d0d1
	}
	
#lyublinskaya_top {
	position:absolute;
	top:138px;
	left:447px;
	z-index:2;
	color:#d9e9a2;
	
}
	#lyublinskaya_top:after {
		border-color:#d9e9a2
	}
#lyublinskaya_bottom {
	position:absolute;
	top:916px;
	left:664px;
	z-index:2;
	color:#d9e9a2;
	
}
	#lyublinskaya_bottom:after {
		border-color:#d9e9a2
	}
	
#kaxovskaya_top {
	position:absolute;
	top:96px;
	left:484px;
	z-index:2;
	color:#bbe5e6;
	
}
	#kaxovskaya_top:after {
		border-color:#bbe5e6
	}
#kaxovskaya_bottom {
	position:absolute;
	top:799px;
	left:423px;
	z-index:2;
	color:#bbe5e6;
	
}
	#kaxovskaya_bottom:after {
		border-color:#bbe5e6
	}

#butovskaya_bottom {
	position:absolute;
	top:936px;
	left:208px;
	z-index:2;
	color:#d5dff1;
	
}
	#butovskaya_bottom:after {
		border-color:#d5dff1
	}	
.subwayPopUpMap_filter_top {
	padding:40px 0 60px;
	width:1200px;
}
	.subwayPopUpMap_filter_top a {
		display: inline-block;
		width:282px;
		vertical-align:middle;
		margin:0 7px;
		text-decoration:none;
		font:14px/14px Arial, Helvetica, sans-serif;
		font-weight:bold;
	}
		.subwayPopUpMap_filter_top i {
			color:#009096;
			font-size:12px;
			font-weight:normal
		}
		.unlink { 
			color:#007a7f!important
		}
		.subwayPopUpMap_filter_top span {
			vertical-align:middle;
			display:inline-block
		}
		.subwayPopUpMap_filter_top #vnutrikolcevie i {
			display:inline-block;
			background:url(../images/filter1.png);
			width:68px;
			height:68px;
			margin:0 5px 0 0;
			vertical-align:middle
		}
		.subwayPopUpMap_filter_top #kolcevaya i {
			display:inline-block;
			background:url(../images/filter2.png);
			width:68px;
			height:68px;
			margin:0 5px 0 0;
			vertical-align:middle
		}
		.subwayPopUpMap_filter_top #reset_all i {
			display:inline-block;
			background:url(../images/filter4.png);
			width:68px;
			height:68px;
			margin:0 5px 0 0;
			vertical-align:middle
		}
		.subwayPopUpMap_filter_top a:hover i, .subwayPopUpMap_filter_top a.checked i {
			background-position:bottom!important
		}
		
	#reset_all.checked {
		color:#000
	}
	#reset_all.checked i {
		background-position:top!important
	}
	#reset_all.checked:hover i {
		background-position:bottom!important
	}
	.subwayPopUpMap_filter_top a.checked {
		color:#007a7f
	}
	.subwayPopUpMap_filter_top img {
		display: inline-block;
		margin:0 5px 0 0;
		
	}
.subwayPopUpMap_filter_right {
	position:absolute;
	right:0;
	z-index:1;	
	width:392px;
}
.subwayPopUpMap_filter_map  {
	height:449px;
	width:392px;
	background:url(../images/map.png); 
}
.subwayPopUpMap_filter_names {
	padding-left:20px;
}
.subwayPopUpMap_filter_names a {
	display:block;
	text-decoration:none;	
	padding:0 0 3px 30px;
	margin:5px 0
}
	.subwayPopUpMap_filter_map a {
		color:#000;
		font-size:11px;
		text-decoration:none;
		letter-spacing:-1px;
		line-height:11px;

	}
	.subwayPopUpMap_filter_names a.checked {
		font-weight:bold;
		background:url(../images/arrow.png) no-repeat;
		color:#007a7f
	}
		.subwayPopUpMap_filter_map a i {
			font-style:normal;
			position:absolute;
			z-index:3
		}
	.subwayPopUpMap_filter_map #vnutrikolcevie {
		position:absolute;
		margin:183px 0 0 217px;
		z-index:4
	}
		.subwayPopUpMap_filter_map #vnutrikolcevie.checked:before {
			position:absolute;
			background:url(../images/center.png); 
			width:42px; 
			height:53px;
			content:"";
			margin:-18px 0 0 -7px;
			z-index:1
		}
	.subwayPopUpMap_filter_map #sad_zapad {
		position:absolute;
		margin:178px 0 0 183px;
		z-index:4;
		width:46px
	}
		.subwayPopUpMap_filter_map #sad_zapad.checked:before {
			position:absolute;
			background: url(../images/sad1.png); 
			width:46px; 
			height:91px;
			content:"";
			margin:-22px 0 0 -8px;
			z-index:1
		}
	.subwayPopUpMap_filter_map #sad_sever {
		position:absolute;
		margin:141px 0 0 155px;
		z-index:4;
		width:100px;
		text-align:center
	}
		.subwayPopUpMap_filter_map #sad_sever.checked:before {
			position:absolute;
			background: url(../images/sad2.png); 
			width:81px; 
			height:46px;
			content:"";
			margin:-10px 0 0 -18px;
			z-index:1
		}
	.subwayPopUpMap_filter_map #sad_vostok {
		position:absolute;
		margin:175px 0 0 224px;
		z-index:4;
		width:46px;
		text-align:center
	}
		.subwayPopUpMap_filter_map #sad_vostok.checked:before {
			position:absolute;
			background: url(../images/sad3.png); 
			width:50px; 
			height:91px;
			content:"";
			margin:-32px 0 0 -8px;
			z-index:1
		}
	.subwayPopUpMap_filter_map #sad_yug {
		position:absolute;
		margin:220px 0 0 162px;
		z-index:4;
		width:100px;
		text-align:center
	}
		.subwayPopUpMap_filter_map #sad_yug.checked:before {
			position:absolute;
			background: url(../images/sad4.png); 
			width:69px; 
			height:43px;
			content:"";
			margin:-12px 0 0 -7px;
			z-index:1
		}
	.subwayPopUpMap_filter_map #mkad_zapad {
		position:absolute;
		margin:194px 0 0 74px;
		z-index:4;
		width:100px;
		text-align:center
	}
		.subwayPopUpMap_filter_map #mkad_zapad.checked:before {
			position:absolute;
			background: url(../images/mkad1.png); 
			width:113px; 
			height:168px;
			content:"";
			margin:-62px 0 0 -30px;
			z-index:1
		}
	.subwayPopUpMap_filter_map #mkad_sever {
		position:absolute;
		margin:97px 0 0 140px;
		z-index:4;
		width:100px;
		text-align:center
	}
		.subwayPopUpMap_filter_map #mkad_sever.checked:before {
			position:absolute;
			background: url(../images/mkad2.png); 
			width:209px; 
			height:156px;
			content:"";
			margin:-97px 0 0 -89px;
			z-index:1
		}
	.subwayPopUpMap_filter_map #mkad_vostok {
		position:absolute;
		margin:194px 0 0 237px;
		z-index:4;
		width:100px;
		text-align:center
	}
		.subwayPopUpMap_filter_map #mkad_vostok.checked:before {
			position:absolute;
			background: url(../images/mkad3.png); 
			width:126px; 
			height:201px;
			content:"";
			margin:-93px 0 0 -21px;
			z-index:1
		}
		
	.subwayPopUpMap_filter_map #mkad_yug {
		position:absolute;
		margin:278px 0 0 161px;
		z-index:4;
		width:100px;
		text-align:center
	}
		.subwayPopUpMap_filter_map #mkad_yug.checked:before {
			position:absolute;
			background: url(../images/mkad4.png); 
			width:155px; 
			height:172px;
			content:"";
			margin:-47px 0 0 -46px;
			z-index:1
		}
	.subwayPopUpMap_filter_map #new_moscow {
		position:absolute;
		margin:326px 0 0 94px;
		z-index:4;
		width:46px;
		text-align:center
	}
		.subwayPopUpMap_filter_map #new_moscow.checked:before {
			position:absolute;
			background: url(../images/new_moscow.png); 
			width:233px; 
			height:184px;
			content:"";
			margin:-60px 0 0 -117px;
			z-index:1
		}

/*header*/
.subwayPopUpMap_logo {
	float:left;
	padding:10px 0 0 20px;
}
.subwayPopUpMap_mission {
	font-size:18px;
	padding:22px 20px 0;
	overflow:hidden
}

