/* ALL PRINTS - STYLES */
/*reset visble */
* {
  margin: 0;
  padding: 0; }

.b-print {
  display: block; }
  .b-print_NO {
    display: none; }

/* END - reset visble  */
/* pUps*/
.pUps__w {
  padding: 0;
  margin: 0; }

.pUps_pay .b-DIV-input {
  max-width: 108px;
  overflow: hidden; }

/* END - pUps*/
/* PAY PAGE */
.b-DIV-input {
  background-color: #fff;
  border-bottom: 1px solid #d1d1d1;
  padding: 0 5px;
  display: inline-block;
  min-width: 100px;
  min-height: 20px;
  height: auto;
  margin-bottom: 10px;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  /*.b-DIV-input input {
    display: none; }*/
  .b-DIV-input.input_institution_pay
  {
    min-width: 85%;
  }
.b-input-label_now-wrap {
  display: inline-block; }
  .b-input-label_now-wrap input {
    text-align: center;
    background-color: #fff;
    border: none;
    border-bottom: 1px solid #d1d1d1;
    padding: 0 5px;
    display: inline-block;
    min-width: 100px;
    min-height: 20px;
    height: auto;
    margin-bottom: 10px;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }

.pUps__item_ORDER {
  width: 780px; }
  .pUps__item_ORDER .pUps__item-title {
    text-transform: none;
    letter-spacing: 0px;
    padding: 0;
    margin: 0; }

table {
  border-collapse: collapse; }

/* b - order*/
.b-order {
  padding-top: 0;
  /* requisites*/
  /* requisites*/
  /* requisites*/
  /* requisites*/ }
  .b-order__alert {
    font-size: 12px;
    text-align: center;
    padding: 0;
    margin: 0; }
  .b-order table {
    background: #fff; }
    .b-order table td {
      font-size: 14px;
      text-align: left;
      padding: 2px;
      line-height: 18px; }
  .b-order table.b-order__r {
    border: 1px solid #000;
    width: 780px;
    max-width: 780px; }
  .b-order table.b-order__d {
    width: 780px;
    max-width: 780px; }
    .b-order table.b-order__d td {
      padding: 5px 0;
      vertical-align: top; }
    .b-order table.b-order__d .b-order__d-ttl {
      font-size: 20px; }
      .b-order table.b-order__d .b-order__d-ttl .b-DIV-input {
        font-size: 20px;
        line-height: 28px;
        height: 28px; }
  .b-order table.b-order__TABLE-i {
    width: 100%; }
    .b-order table.b-order__TABLE-i thead td {
      text-align: center; }
    .b-order table.b-order__TABLE-i td {
      border: 1px solid;
      height: 20px;
      padding: 2px; }
    .b-order table.b-order__TABLE-i tbody td {
      text-align: right; }
      .b-order table.b-order__TABLE-i tbody td:nth-child(1) {
        max-width: 30px; }
      .b-order table.b-order__TABLE-i tbody td:nth-child(2) {
        text-align: left; }
      .b-order table.b-order__TABLE-i tbody td:nth-child(3) {
        max-width: 80px; }
      .b-order table.b-order__TABLE-i tbody td:nth-child(4) {
        max-width: 50px; }
      .b-order table.b-order__TABLE-i tbody td:nth-child(5) {
        max-width: 85px; }
      .b-order table.b-order__TABLE-i tbody td:nth-child(6) {
        max-width: 105px; }
  .b-order .b-order__TABLE-i_result td {
    border: none !important; }
  .b-order .b-order__TABLE-i_result .b-DIV-input {
    width: 100%;
    height: 100%;
    margin-bottom: 0;
    height: auto;
    height: 20px; }
  .b-order table.b-order__TABLE-i_result-italic {
    border-bottom: 1px solid #000;
    margin-top: 0px; }
    .b-order table.b-order__TABLE-i_result-italic td {
      padding: 0; }
  .b-order table.b-order__foot {
    width: 100%; }
    .b-order table.b-order__foot tr:nth-child(2) td {
      padding: 0;
      font-weight: bold; }
    .b-order table.b-order__foot td {
      padding: 0 30px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      vertical-align: top; }
      .b-order table.b-order__foot td:nth-child(1) {
        width: 150px; }
      .b-order table.b-order__foot td:nth-child(2) {
        padding: 0;
        text-align: right;
        border-bottom: 1px solid;
        font-size: 12px; }
      .b-order table.b-order__foot td:nth-child(3) {
        width: 85px; }
      .b-order table.b-order__foot td:nth-child(4) {
        padding: 0 0 20px 0;
        text-align: right;
        border-bottom: 1px solid;
        font-size: 12px; }
  .b-order__req-list td {
    padding: 5px 3px !important; }
  .b-order__submit {
    text-align: center; }
    .b-order__submit input {
      margin-left: 25px;
      width: 190px;
      max-width: 190px;
      font-size: 10px;
      vertical-align: top;
      margin-bottom: 10px; }
      .b-order__submit input:first-child {
        margin-left: 0;
        white-space: normal;
        padding: 0 15px;
        text-align: center; }

.b-order * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

/* END - PAY PAGE */
/* END - ALL PRINTS - STYLES */