#header.short{
    max-height: 100px;
    overflow: hidden;
}

.registration{
    padding: 100px 0px 180px 0px;
}

.registration .heading{
    text-align: center;
}

.registration .heading h1{
    font-size: 26px;
    letter-spacing: 3.9px;
}

.registration .heading span{
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 1.7px;
}

.registration .errors {
    width: 300px;
    margin: 20px auto 0;
}

.registration .errors ul {
    list-style-type: none;
    text-align: left;
}

.registration .errors ul > li {
    margin: 0;
    padding: 10px 0 0 0;
    color: red;
}

.registration ul.choose_type{
    margin-top: 60px;
    list-style: none;
}

.registration ul.choose_type > li{
    display: inline-block;
    box-sizing: border-box;
    width: 385px;
    padding: 0px;
}

.registration ul.choose_type img{
    display: block;
    clear: both;
    
    margin: 20px auto;
}
.registration ul.choose_type center{
    margin: 40px 0px;
}

.registration ul.choose_type center a{
    padding: 8px 18px;
}





form.register div.divider{
    display: block;
    height: 1px;
    border-bottom: 1px solid #f2f2f2;
}


form.register{
    width: 580px;
    margin: 30px auto;
    padding: 0px 20px;
    box-sizing: border-box;
}

form.register div.divider{
    display: block;
    height: 1px;
    border-bottom: 1px solid #f2f2f2;
    margin: 25px -20px;
}

.form_block_header{
    display: block;
    margin-bottom: 20px;
    font-size: 13px;
    color: #c44848;
}

form.register input[type="text"],
form.register input[type="email"],
form.register input[type="password"]{
    max-width: 300px;
    height: 28px;
    padding: 5px 15px;
    border-radius: 0;
    font-size: 12px;
    color: #000;
    
    margin-bottom: 20px;
    
}

form.register input.clear{
    clear:both;
    
}

form.register .form_inline_divider{
    display: inline-block;
    box-sizing: border-box;
    margin-right: 40px;
}

form.register .table_line{
    margin-bottom: 15px;
}
form.register .table_line span{
    display: inline-block;
    width: 110px;
}
form.register .table_line input.text{
    max-width: 70px;
    margin-left:10px;
    margin-right: 10px;
    margin-bottom: 0px;
}

form.register .table_left,
form.register .table_right{
    display: inline-block;
    margin-right: 40px;
}

form.register .table_left{
    width: 320px;
    display: inline-block;
}
form.register .table_right{
    width: 140px;
    display: inline-block;
    float: right;
}




form.register .search-place i{
    display: inline-block;
    float: left;
}
form.register .search-place a{
    max-width: calc(100% - 30px);
    
    border-bottom: none;
}


form.register .search-place a.dotted span{
    text-decoration: none;
    border-bottom: 1px dotted #1b1464;
}

form.register button[type="submit"]{
    text-transform: uppercase;
    width: 225px;
    font-size: 10px;
    padding: 0;
    line-height: 30px;
    font-family: 'OpenSans-Bold';
    text-align: center;
    letter-spacing: 2px;
    border-radius: 15px 15px 15px 15px;
    -moz-border-radius: 15px 15px 15px 15px;
    -webkit-border-radius: 15px 15px 15px 15px;
    border-width: 0px;
}










