html {
    overflow: scroll;
}

textarea {
    resize: none;
}

.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.form-table td {
    vertical-align: top;
}

.small-table tbody{
    font-size: 11px;
}

.big-input {
    font-size: 24px !important;
    height: 38px !important;
    font-weight: 100;
}

.small-font{
    font-size: 13px;
}

.small-icon {
    font-size: 18px;
}

.table-small-image {
    width: 48px;
    height: 48px;
}