html { -ms-text-size-adjust: 100%;  -webkit-text-size-adjust: 100%; }body { margin: 0;}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display: block;}audio,canvas,progress,video { display: inline-block; vertical-align: baseline;}audio:not([controls]) {display: none;  height: 0;}[hidden],template { display: none;}a { background-color: transparent;}a:hover { outline: 0;}abbr[title] { border-bottom: 1px dotted;}b,strong {font-weight: bold;}dfn {font-style: italic;}h1 {font-size: 2em; margin: 0.67em 0;}mark {background: #ff0;  color: #000;}small {font-size: 80%;}sub,sup {font-size: 75%; line-height: 0; position: relative; vertical-align: baseline;}sup {top: -0.5em;}sub {bottom: -0.25em;}img {border: 0;}svg:not(:root) { overflow: hidden;}figure { margin: 1em 40px;}hr {box-sizing: content-box; height: 0;}pre {overflow: auto;}code,kbd,pre,samp {font-family: monospace, monospace;font-size: 1em;}button,input,optgroup,select,textarea {color: inherit;font: inherit;margin: 0;}button {overflow: visible;}button,select {text-transform: none;}button,html input[type="button"],input[type="reset"],input[type="submit"] {-webkit-appearance: button;cursor: pointer;}button[disabled],html input[disabled]{cursor: default;}button::-moz-focus-inner,input::-moz-focus-inner {border: 0;padding: 0;}input{line-height: normal;}input[type="checkbox"],input[type="radio"] {box-sizing: border-box;padding: 0;}input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button {height: auto;}input[type="search"] { -webkit-appearance: textfield;box-sizing: content-box;}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration {-webkit-appearance: none;}fieldset{border: 1px solid #c0c0c0;margin: 0 2px;padding: 0.35em 0.625em 0.75em;}legend{border: 0;padding: 0;}textarea{overflow: auto;}optgroup{font-weight: bold;}table{border-collapse: collapse;border-spacing: 0;}td,th{padding: 0;}
textarea {resize: none;}
html {height: 100%;}
p {
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
}
img {max-width: 100%;height: auto;vertical-align: middle;}

body {
	min-height: 100%;
	position: relative;
	padding-top: 60px;
}

/*отступы и бордеры внутри ширены*/
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

a {
	text-decoration: underline;
	color: black;
}
a:hover {text-decoration: none;}


.col-1   { width: 8.333333333333332%;}
.col-2   { width: 16.666666667%;}
.col-3   { width: 25%;}
.col-4   { width: 33.333333333%;}
.col-5   { width: 41.666666667%;}
.col-6   { width: 50%;}
.col-7   { width: 58.333333333%;}
.col-8   { width: 66.666666667%;}
.col-9   { width: 75%;}
.col-10  { width: 83.333333333%;}
.col-11  { width: 91,666666667%;}
.col-12  { width: 100%;}
.col-30  { width: 30%;}

/* Общие классы */
.left{float: left;}
.right{float: right;}
.clear{ clear: both; width: 100%;}

.mb_40 {
	margin-bottom: 40px;
}
.mt_20 {
	margin-top: 20px;
}


.animation {
	-webkit-transition: background-color 0.7s, color 1s, opacity 0.5s;
	-ms-transition: background-color 0.7s, color 1s, opacity 0.5s;
	-o-transition: background-color 0.7s, color 1s, opacity 0.5s;
	-moz-transition: background-color 0.7s, color 1s, opacity 0.5s;
	transition: background-color 0.7s, color 1s, opacity 0.5s;
}

.animate_custom, .animate_custom:hover {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.animation_rotate180 {
	webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;
	-webkit-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	transform-style: preserve-3d;
}
.animation_rotate180:hover {
	-webkit-transform: rotateY(180deg);
	-ms-transform: rotateYe(180deg);
	-o-transform: rotateY(180deg);
	transform: rotateY(180deg);
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;
}


.container:before,
.container:after,
.clearfix:after,
.clearfix:before {
	content: '';
	clear: both;
	display: block;
}

/*ОБЩИЙ ШАБЛОН САЙТА*/


.container {
	min-width: 310px;
	max-width: 1170px;
	width: 100%;
	margin: 0 auto;
	position: relative;
	padding: 0;
}


.dropdown-menu .dropdown-menu {
	top: 0;
}

.left_top_nav .dropdown-menu{
	width: 100%;
}
.left_top_nav .dropdown-menu  a {
	text-decoration: none;
}

.left_top_nav .dropdown-menu .list-group-item {
	border-top: 0;
	border-left: 0;
	border-right: 0;
	padding: 0;
}
.left_top_nav .dropdown-menu .list-group-item  a {
	padding-top: 7px;
	padding-bottom: 7px;
}
.left_top_nav .dropdown-menu .list-group-item  a .badge {
	float: right;
}


.navbar-inverse .navbar-brand {
	text-decoration: none;
	font-weight: bold;
	color: #fff;
}
.ui-dialog .ui-dialog-titlebar-close {line-height: 1;}
.ui-dialog .ui-dialog-titlebar-close:before {
	content: "\e014";
	font-family: 'Glyphicons Halflings';
	line-height: 1;
}

.icon_event {
	display: inline-block;
	/*height: 100%;*/
	margin-right: 20px;
	cursor: pointer;
	position: relative;
	text-decoration: none;
}
.icon_event:before {
	font-family: 'Glyphicons Halflings';
	font-style: normal;
	font-weight: 400;
	line-height: 1;
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.cat_dell:before {
	content: "\e020";
}
.cat_remove:before {
	content: "\270f";
}

.icon_event_title {
	position: absolute;
	opacity: 0;
	bottom: 0;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;
	visibility: hidden;
	background: #fff;
}
.icon_event:hover .icon_event_title {
	bottom: 100%;
	opacity: 1;
	visibility: visible;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.sub_cat  {
	display: none;
}
input[type="text"] + .sub_cat {
	display: inline-block;
}

.categories li .form-control {
	display: inline-block;
	width: auto;
}
.add_categ {
	display: none;
	margin: 20px 0;
}
.add_categ  .form-control {
	display: inline-block;
	max-width: 50%;
}

.fillter_pub {
	padding: 10px 10px 20px 10px;
	border: 1px solid #dddddd;
	border-radius: 4px;
}

.add_pub_table {
	width: 100%;
}
.add_pub_table td {
	padding-top: 10px;
	padding-bottom: 10px;
}
.add_pub_table td:first-child {
	padding-right: 40px;
}

.doct table .icon_event_title {right: 0;}

.table_rightLeft {
	/*min-width: 80%;*/
}
.table_rightLeft td {
	padding-top: 10px;
	padding-bottom: 10px;
}
.table_rightLeft td:first-child {
	text-align: right;
	padding-right: 10px;
}
.table_rightLeft td.text-center {text-align: center; padding-top: 25px;	}
.table_rightLeft td:first-child + td + td {
	padding-left: 10px;
}

.btn-file {
	position: relative;
	overflow: hidden;
}
.btn-file input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	font-size: 100px;
	text-align: right;
	filter: alpha(opacity=0);
	opacity: 0;
	outline: none;
	background: white;
	cursor: inherit;
	display: block;
}
.res_file {
	margin-left: 25px;
}

/*  by Rybikov Oleg*/

/* global styles */
.g-dnone{
	display: none;
}
/* end global styles */
/* ORGANISATIONS styles */
.table-bord{
	border: 1px solid #dddddd;
	border-radius: 4px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
.b-tab{
	margin: 20px 0 ;
}
.b-tab .table{
	margin-bottom: 0;
}

.b-tab .table-bord{
	margin-top: 0;
}
.b-tab .b-tab__i{
	font-size: 0;
	margin-bottom: -1px;
}
.b-tab .b-tab__it{
	display: inline-block;
	padding: 12px 18px;
	font-size: 14px;
	border: 1px solid transparent;
	position: relative;
}
.b-tab .b-tab__it.active{
	border-color: #dddddd;
	border-bottom: 1px dashed #dddddd;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
	background-color: #fff;
}
.b-tab .b-tab__it a{
	text-decoration: none;
	color: #449d44;
}
.b-tab .b-tab__it a:hover, .b-tab .b-tab__it a:focus {
	color: #2a6496;
}

/* edit */
.b-img-prew{
	max-width: 160px;
	max-height: 160px;
	margin-bottom: 15px;
	position: relative;
	box-sizing:border-box;
	background: #e6e6e6;
	border: 1px solid transparent;
	border-radius: 4px;
	text-align: center;
	overflow: hidden;

}
.b-img-prew img{
	max-width: 100%;
	max-height: 100%;
}
/* END edit */

/* map preview */
.b-map{
	display: table-row;;
}

.b-map__prew{
	height: 250px;
	width: 450px;
	border: 1px solid #dddddd;
	border-radius: 4px;
	overflow: hidden;
}


/* Стили для типовых элементов страницы */
body.type-e, .type-e #wrap{
    min-width: 1200px;
}
.g-wrap{
    width: 1200px;
    margin: 0 auto;
}

.g-wrap.g-wrap_content{
    box-sizing: border-box;
    padding: 0 0 0 30px;
}
.g-bottom-shad{
    padding: 30px;
    position: relative;
    margin-bottom: 70px;
    border: 1px solid #f9faf9;
}
.g-bottom-shad:before {
    content: "";
    width: 100%;
    height: 30px;
    position: absolute;
    bottom: -30px;
    left: 0;
    visibility: visible;
    background: url('../images/box-shadow.png') no-repeat 50% 0;
    display: block;
    background-size: contain;
}
/* ГЛОБАЛЬНЫЕ ОТСТУПЫ*/
.g-clear {
    height: 70px;
    display: block;
    clear: both;
}
.g-clear_200{
    height: 200px;
}

.type-e header, .type-e #header{
    height: auto;
    min-height: 95px;
    margin-bottom: 70px;
}
.type-e #header .top{
    height: auto;
    padding: 0;
}
.type-e #header #logo{
    margin: 0;
    padding: 0;
}
.type-e #header .logo__image{
    padding: 30px;
    background-color: #c44848;
    display: inline-block;
}
.type-e #header .container{
    width: 1200px;
}
.type-e #header .phone,
.type-e #header .city,
.type-e #header .dotted,
.type-e #header .top .btn{
    top: 50%;
}
.type-e #header .phone{
    margin-top: -10px;
}
.type-e #header .city{
    margin-top: -14px;
}
.type-e #header .dotted{
    margin-top: -7px;
}
.type-e #header .top .btn{
    margin-top: -15px;
    right: 0;
}
.type-e .b-content{
    font-size: 0;
}
.type-e .b-content__i{
    width: 100%;
}
.type-e .b-content_rPanel .b-content__i{
    display: inline-block;
    vertical-align: top;
    margin-right: 150px;
    width: calc(100% - 290px - 150px);
    font: 13px/20px 'OpenSans-Regular', sans-serif, Arial, Tahoma, Verdana, Helvetica;
}
.type-e .b-content_rPanel	.b-content__rp{
    width: 290px;
    display: inline-block;
    vertical-align: top;
    font: 13px 'OpenSans-Regular', sans-serif, Arial, Tahoma, Verdana, Helvetica;
}
/* заголовки*/
h1.h1{
    font-size: 26px;
    letter-spacing: 4px;
    margin-bottom: 0;
    padding-bottom: 40px;
    line-height: 140%;
}
h2.h2{
    font-size: 21px;
    letter-spacing: 2px;
    padding-bottom: 30px;
    margin-bottom: 0;
    line-height: 140%;
}
h3.h3{
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    padding-bottom: 20px;
    margin-bottom: 0;
    line-height: 140%;
}
h4.h4{
    font-size: 12px;
    font-family: 'OpenSans-Bold';
    padding-bottom: 10px;
    margin-bottom: 0;
    line-height: 140%;
}
/* блок лид0*/
.type-e .b-lid{
    font-size: 11px;
    font-family: "OpenSans-Regular";
    line-height: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 50px;
}
/* блок меню в контенте */
.type-e .menu .list{
    display:  block;
    width: auto;
    margin: 0;
    margin-left: -14px;
    margin-bottom: 50px;
    text-align: justify;
}
.type-e .menu .list li{
    display: inline-block;
    vertical-align: middle;
    width: auto;
    box-sizing:border-box;
}
.type-e .menu li{
    margin-right: 25px;
    text-align: center;
    box-sizing:border-box;
}
.type-e p {
    margin-bottom: 70px;
}

/* блок поиска */
.type-e #search .wrapper{
    font-size: 0;
}
.type-e #search .title {
    font-size: 26px;
    width: 145px;
    box-sizing:border-box;
    padding: 0;
    padding-right: 20px;
    margin: 0;
    text-align: center;
}
.type-e #search .forma{
    font-size: 0;
    width: calc(100% - 145px);
    box-sizing:border-box;
    margin: 0;
}
.type-e #search .text, .type-e .search_form .text{
    width: 100%;
}
.type-e #search .forma .for_input {
    margin-right: 25px;
    width: calc(100% - 140px - 25px);
}
.type-e #search:after{
    background-size: contain;
}
/* блок статистики */
.type-e .b-statistic{
    background: url('../images/statistic.png') no-repeat 0 0;
    background-size: 100% 210px;
    height: 210px;
    margin-bottom: 20px;
}
.type-e .b-statistic:before{
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}
.type-e .b-statistic ul{
    font-size: 0;
    vertical-align: middle;
    display: inline-block;
}
.type-e .b-statistic li {
    display: inline-block;
    margin-right: 40px;
    text-align: center;
    font-size: 15px;
}
.type-e .b-statistic li:last-child{
    margin-right: 0;
}
.type-e .b-statistic .icon{
    display: block;
    margin-bottom: 10px;
}
.type-e .b-statistic .num {
    display:  block;
    font-size: 15px;
}
/* блок с комментраием */
.type-e .b-comment{
    font-size: 11px;
    line-height: 16px;
    font-family: "OpenSans-Italic";
    margin-bottom: 70px;
    color: #9d9d9d;
}
/* блок с иконками -к нопками*/
.type-e .b-icons-btn{
    padding: 30px;
    padding-left: 0;
    position: relative;
    margin-bottom: 70px;
}
.type-e .b-icons-btn ul {
    font-size: 0;
    margin-bottom: 0;
}
.type-e .b-icons-btn ul:after{
    content: "";
    display: block;
    width: 100px;
    position: relative;
    clear: both;
}
.type-e .b-icons-btn ul li {
    display:  inline-block;
    font-size: 13px;
    position: relative;
    padding: 9px 15px 9px 47px;
    color: #000;
    margin-left: 10px;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
}
.type-e .b-icons-btn ul li a{
    text-decoration: none;
    color: #000;
}
.type-e .b-icons-btn ul li.selected {
    background: #c44848;
    color: #fff;
}
.type-e .b-icons-btn ul li.selected a {
    color: #fff;
}
.type-e .b-icons-btn .icon {
    display: inline-block;
    width: 18px;
    height: 18px;
}
.type-e .b-icons-btn ul li .icon {
    position: absolute;
    top: 9px;
    left: 15px;
}
.type-e .b-icons-btn .selected .icon.icon-plus {
    background-position:-32px 0;
}

.type-e .b-icons-btn .selected  .icon.icon-pharmacy {
    background-position:-32px -34px;
}

.type-e .b-icons-btn .selected  .icon.icon-lab {
    background-position:-32px -70px;
}

.type-e .b-icons-btn .selected  .icon.icon-compass {
    background-position:-32px -105px;
}
.type-e .b-icons-btn__input{
    padding-right: 0 !important;
    padding-left: 0 !important;
    float: right;
}

/* Элементы формы*/
.type-e  .b-form-e{

}
.type-e .b-form-e_auth{
    width: 175px;
    box-sizing:border-box;
}
.type-e  .b-form-e__btn{
    width: 100%;
    position: relative;
    display: inline-block;
    padding: 5px 30px;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    color: #fff;
    text-decoration: none;
    background: #c44848;
    font-family: "OpenSans-Bold";
    font-size: 11px;
    height: 30px;
    box-sizing:border-box;
    border: 1px solid #c44848;
    margin-bottom: 20px;
}
.type-e  .b-form-e__btn:hover{
    background: #fff;
    border-color: #c44848;
    color: #c44848;
}

.type-e  .b-form-e__btn_bord{
    background: #fff;
    border-color: #c44848;
    color: #c44848;
}
.type-e  .b-form-e__btn_bord:hover{
    background-color: #c44848;
    color: #fff;
}
.type-e  .b-form-e__title{
    font-size: 16px;
    display: block;
    margin-bottom: 20px;
    font-family: "Georgia-Bold";
    color: #c44848;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.type-e  .b-form-e__input{
    width: 100%;
    height:30px;
    box-sizing:border-box;
    border: 1px solid #cfcfcf;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    margin-bottom: 20px;
    position: relative;
}
.type-e  .b-form-e__input input{
    display: block;
    height: 30px;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    font-size: 14px;
    border: none;
    box-sizing:border-box;
    max-width: 100%;
    max-height: 100%;
    font-size: 14px;
    font-family: "OpenSans-Italic";
    padding: 5px 10px;
}
.type-e .b-form-e__input_login input{
    padding-left: 45px;
}
.type-e .b-form-e__input_login:before{
    content: "";
    display: block;
    width: 24px;
    height: 18px;
    position: absolute;
    top: 6px;
    left: 11px;
    border-right: 1px solid #e5e5e5;
    background: url('../images/sprite.png') no-repeat -50px 0;
}
.type-e .b-form-e__over-link{
    display: inline-block;
    text-transform:uppercase;
    text-decoration: underline;
    font-size: 11px;
    margin-bottom: 20px;
    color: #c44848;
}
.type-e .b-form-e__over-link:hover{
    text-decoration: none;
}
.type-e .b-form-e{
    margin-bottom:70px;
}
/* УКАЗАТЕЛЬ*/
.type-e .b-pager, .b-pager__i{
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.type-e .b-pager{
    margin-left: -14px;
    display: block;
}
.type-e .b-pager__i{
    display: inline-block;
    vertical-align: middle;
    height: 6px;
    width: 6px;
    box-sizing:border-box;
    border: 1px solid #cfcfcf;
    background: #fff;
    margin-left: 14px;
    font-size: 0;
    overflow: hidden;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}
.type-e .b-pager__i a {
    width: 100%;
    height: 100%;
    display: block;
}
.type-e .b-pager__i_color{
    background-color: #c44848;
    border-color: #c44848;
}
.type-e .b-pager__i_txt{
    font-size: 12px;
    font-family: "OpenSans-Italic";
    width: auto;
    height: auto;
    border: none;
    border-radius: 0;
    color: #cfcfcf;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}
/* ЗАГОЛОВКИ */
.type-e .b-title{
    font-size: 16px;
    display: block;
    margin-bottom: 20px;
    font-family: "Georgia-Bold";
    color: #000;
    text-transform: uppercase;
    letter-spacing: 1px;
}
/* PROMO БЛОКИ (НОВОСТИ и т.п.)*/
.type-e .b-promo{

}
.type-e .b-promo .b-promo__title{
    margin-bottom: 30px;
}
.type-e .b-promo .b-promo__img{
    margin-bottom: 30px;
    width: 290px;
    height: 200px;
    font-size: 0;
    position: relative;
}
.type-e .b-promo .b-promo__img:before,
.type-e .b-promo .b-promo__img:after{
    content: "";
}
.type-e .b-promo .b-promo__img:before{
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}
.type-e .b-promo .b-promo__img:after{
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3); /* browsers */
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#000', endColorstr='#000'); /* IE */
}
.type-e .b-promo .b-promo__img img{
    max-width: 100%;
    max-height: 100%;
    display: inline-block;
    vertical-align: middle;
}
.type-e .b-promo .b-promo__img:hover:after{
    display: none;
}
.type-e .b-promo p {
    margin-bottom: 20px;
}
.type-e .b-promo__date{
    color: #cfcfcf;
}
/* FOOTER */
.type-e #footer{
}
.type-e #footer .top{
    padding-left: 15px;
}
.type-e #footer .bottom {
    padding-left: 15px;
}
.type-e #footer .menu{

}
.type-e #footer .menu .list li{
    display: table-cell;
    width: 11.11%
}
.type-e #footer .menu .list li:first-child{
    padding-left: 0;
}
.type-e #footer .menu .list li:last-child{
    padding-right: 0;
}
/* END - map preview*/

/* END - ORGANISATIONS styles */
/*  END - by Rybikov Oleg*/